@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@font-face{font-family:"Ionicons";src:url("../fonts/ionicons.eot?v=4.5.0");src:url("../fonts/ionicons.eot?v=4.5.0#iefix") format("embedded-opentype"),url("../fonts/ionicons.woff2?v=4.5.0") format("woff2"),url("../fonts/ionicons.woff?v=4.5.0") format("woff"),url("../fonts/ionicons.ttf?v=4.5.0") format("truetype"),url("../fonts/ionicons.svg?v=4.5.0#Ionicons") format("svg");font-weight:normal;font-style:normal}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');   
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),        /*url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),*/              url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;   
}
@font-face {
  font-family: 'Linearicons-Free';src:url('../fonts/Linearicons-Free.eot?w118d');src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
    url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
  font-weight: normal;font-style: normal;
}

.lnr {
  font-family: 'Linearicons-Free';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa {display: inline-block;font-family: 'FontAwesome';font-weight: normal;font-style: normal;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;transform: translate(0, 0);
}
.ion{display:inline-block;font-family:"Ionicons";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-rendering:auto;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.ion-ios-notifications:before{content:"\f1d3"}.ion-ios-notifications-outline:before{content:"\f133"}.ion-ios-walk:before{content:"\f266"}.ion-md-add:before{content:"\f273"}
.fa-plus:before {content: "\f067";}
.fa-exclamation-circle:before {content: "\f06a";}
.fa-arrow-down:before {content: "\f063";}
.fa-arrow-up:before {content: "\f062";}
.fa-dot-circle-o:before {content: "\f192";}
.fa-circle:before {content: "\f111";}
.fa-check-square:before {content: "\f14a";}
.fa-arrow-left:before {content: "\f060";}
.fa-star::before {content: "\f005";}
.fa-arrows-alt:before{content: "\f0b2";}
.fa-code:before{content: "\f121";}
.fa-file-text:before{content: "\f15c";}
.fa-eraser:before{content: "\f12d";}
.fa-print:before{content: "\f02f";}
.fa-asterisk::before {
    content: "\f069";
}.fa-minus::before {
    content: "\f068";
}
.fa-strikethrough::before {
    content: "\f0cc";
}
.fa-table::before {
    content: "\f0ce";
}
.fa-photo::before, .fa-image::before, .fa-picture-o::before {
    content: "\f03e";
}
.fa-unlink::before, .fa-chain-broken::before {
    content: "\f127";
}
.fa-chain::before, .fa-link::before {
    content: "\f0c1";
}
.fa-rotate-right::before, .fa-repeat::before {
    content: "\f01e";
}
.fa-rotate-left::before, .fa-undo::before {
    content: "\f0e2";
}
.fa-list-ul::before {
    content: "\f0ca";
}
.fa-list-ol::before {
    content: "\f0cb";
}
.fa-quote-right::before {
    content: "\f10e";
}
.fa-dedent::before, .fa-outdent::before {
    content: "\f03b";
}
.fa-indent::before {
    content: "\f03c";
}
.fa-align-justify::before {
    content: "\f039";
}
.fa-align-right::before {
    content: "\f038";
}
.fa-align-left::before {
    content: "\f036";
}
.fa-align-center::before {
    content: "\f037";
}
.fa-font::before {
    content: "\f031";
}
.fa-underline::before {
    content: "\f0cd";
}
.fa-italic::before {
    content: "\f033";
}
.fa-bold::before {
    content: "\f032";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.lnr-arrow-left:before {content: "\e879";}
.lnr-arrow-right:before {content: "\e87a";}
.lnr-chevron-left:before {content: "\e875";}
.lnr-chevron-right:before {content: "\e876";}

body{font-size:12px;font-family:Arial, Helvetica, sans-serif}
a{color:#1ea1b8}
p{font-family:Arial, Helvetica, sans-serif; font-size:12px}

/*Top*/
.header{background:url(../images/header.jpg) no-repeat center center; background-size:cover;font-family: 'Open Sans Condensed', sans-serif;}
.header-title{color:#1ea1b5;font-size: 2.5rem; font-weight:700}
.header .btn-group + .btn-group{margin-left:0}

/*Top Right section*/
.name-client{background:#1ea1b5; color:#ffffff; font-size:14.5px; padding:0.13rem 0.83rem 0.18rem; font-weight:700; margin-right:-9px; border:0}
.client-pic{border:3px solid #1ea1b5;display:inline-block; border-radius:100%; -webkit-border-radius:100%; overflow:hidden; vertical-align:middle; width:65px; height:65px}
.default-circle{background:#1ea1b5; color:#ffffff; font-size:16px;border-radius:50%;-webkit-border-radius:50%; border:2px solid; width:26px; height:26px; text-align:center;line-height:23px; font-size:21px;display:inline-block}
.nc{background:#fcb819; padding:0.23rem 0.93rem 0.23rem 0.43rem; font-weight:700; margin-right:-9px; color:#fff;display: inline-block;line-height: .7;font-size: 19px;}
.notification-dropdown{background:#fff4de;border-radius:0;-webkit-border-radius:0;margin-top: -10px;z-index: 2;font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px}
#dropdownMenuNotification{padding-right:0; position:relative; z-index:6}
.notification-dropdown .notification-list{max-height:460px; overflow-y:auto}
.notification-list{list-style:none; padding:0;margin:0; min-width:400px; font-size:12px;}
.notification-list li{padding:10px;position:relative; padding-left:50px; color:#9b9b9b; font-size:12px; padding-right:48px;border-bottom:1px solid #b9b9b9}
.notification-list li:last-child{border-bottom:0}
.notification-list li .date{color:#1ea1b8; font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; right:12px}
.info-drop button:after{border:0; background:url(../images/arrow.png) right center no-repeat; width:14px; height:10px;}
.info-drop .dropdown-menu{margin-top:-22px; min-width:126px; border-color:#1ea1b8; border-radius:0;-webkit-border-radius:0;padding:0;/*margin-left: 13px;*/}
.info-drop .dropdown-menu .dropdown-item{padding: .25rem 0.5rem;font-family:Arial, Helvetica, sans-serif; font-weight:600; color:#1ea1b8; border-bottom: 1px solid #1ea1b8; font-size:13px;font-family: 'Open Sans Condensed', sans-serif;}
.info-drop .dropdown-menu .dropdown-item:hover{color:#fdb719}
.info-drop .dropdown-menu .dropdown-item:last-child{border:0}
.nf-icon{width:45px; height:42px; color:#1ea0b6; font-size:40px; position:absolute; left:0; text-align:center;}
.nf-icon img{vertical-align:top}
.nc-links a{text-decoration:underline}
.nc-links span:after{margin-right:14px; margin-left:14px;content:'|';color:#1ea1b8}
.nc-links span:last-child:after{content:''}
.more{background:#fff; padding-top:10px; padding-bottom:10px;border-top:1px solid #b9b9b9}
.notification-list li.error,.error{color:#ff0000}
#confirm_password-error{display:block}

.bg-light-white{background:rgba(255,255,255,0.77); padding: 1.1rem 1rem;}
.navbar-light{font-weight:700; font-size:17px; margin-top:40px}
.navbar .form-control{padding: .075rem .75rem; line-height: 1.1; height:22px; min-width:200px; font-family:Arial, Helvetica, sans-serif;font-size: 12px;}
.navbar-light .navbar-nav .nav-item{padding-right:48px}
.navbar-light .navbar-nav .nav-link{color:#1fa1b9; font-weight:700}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: #fdb719;}
.navbar-light .navbar-nav .nav-link span{color:#fdb719; margin-left:5px}
.navbar-light .navbar-nav .active>.nav-link{color:#fdb719}
.default-color{color:#1ea2b7}
.gray{color:#9b9b9b}

/*Heading*/
h1,h2,h3,h4,h5,h6{font-weight:700;font-family: 'Open Sans Condensed', sans-serif; }
.large-title {font-size: 2.5rem;font-weight:700;font-family: 'Open Sans Condensed', sans-serif;line-height:1.2}
@media screen and (min-width: 1600px){.container{max-width: 1340px;}}

/*Middle section*/
section{padding: 50px 0}
.default-select{background:#fff url(../images/drop-arrow.png) 95% center no-repeat; background-size:23px; -webkit-appearance:none;-moz-appearance:none; font-weight:700;border:1px solid;padding-right:45px;}
.default-select-large,.select_large .select-styled{background:#fff url(../images/drop-arrow.png) right center no-repeat; background-size:19px; -webkit-appearance:none;-moz-appearance:none; font-weight:700;border:1px solid;padding-right:45px; border-radius:0;border-radius:0; text-align:left}
.select_large.gray{width:140px}
.select_large.gray .select-options li{color: #9b9b9b; border-bottom:1px solid; text-align:left}
.select_large .select-options li:hover{background:transparent}
.select_large .select-options li:last-child{border:0}
.accordions li .select-options li {
  min-height: inherit;
  padding: 2px 4px;
}
.default-select2{background:#fff url(../images/drop-down-arrow2.svg) 90% center no-repeat; background-size:13px 25px; -webkit-appearance:none;-moz-appearance:none; font-weight:700;border:1px solid;padding-right:45px; border-radius:10px;-webkit-border-radius:10px;height:45px; font-size:15px; font-family:Arial, Helvetica, sans-serif}
.default-select-small{background:#fff url(../images/drop-down-arrow.svg) 95% center no-repeat; background-size:12px 20px; -webkit-appearance:none;-moz-appearance:none; font-weight:500;border:1px solid #b9b9b9;padding-right:18px;padding-left:5px;/*border-radius:3px;-webkit-border-radius:3px;*/ margin-right:8px; min-width:68px; height:27px}
.dropdown-small{background:#fff url(../images/drop-down-arrow.svg) 95% center no-repeat; background-size:12px 20px; -webkit-appearance:none;-moz-appearance:none; font-weight:400;padding-right:14px;padding-left:5px;border-radius:3px;-webkit-border-radius:3px; margin-right:0px; display:block; width:100%; cursor:pointer}
th button{border:0; text-align:left;color: #1ea1b8;}
.arrowdown{background:#fff url(../images/drop-arrow.png) right center no-repeat !important; padding:3px 19px 5px 6px;cursor:pointer}
.default-input{background-color:#fff;-webkit-appearance:none;-moz-appearance:none;font-weight:400;border:1px solid #b9b9b9;padding-right:8px;padding-left:8px;border-radius:0px;-webkit-border-radius:0px;min-width:68px;height:26px;}
input[type="number"]{-moz-appearance: textfield;-webkit-appearance: textfield;-ms-appearance: textfield;}

td select.default-select-small{width:100%;border-color:#e5e5e7}
.yellow td select.default-select-small{background-image:url(../images/drop-down-arrow-yellow.svg);}
.competed *,.competed,.competed td select.default-select-small{color:#ff0000 !important}
.light-gray *,.light-gray,.light-gray td select.default-select-small{color:#9b9b9b !important}
.text-right .default-select-small{margin-right:0}
.yellow,.yellow *{color:#fdb71a !important;}
.text-bold{font-weight:700}
.bold{font-weight:bold}
.ligher{font-weight:normal !important}
.title-small{font-size:21px;font-family: 'Open Sans Condensed', sans-serif;}
.title-vsmall{font-size:16px;}
.ar{font-family:Arial, Helvetica, sans-serif;/*font-weight: normal;*/}
.medium{font-size:32px;font-family: 'Open Sans Condensed', sans-serif;font-weight:700}
.title-2{font-size:24px;font-family: 'Open Sans Condensed', sans-serif;font-weight:700}
.labeltext{font-family: 'Open Sans Condensed', sans-serif;font-size:15px;font-weight:700}
.small-icon{height:88px;line-height: 88px;}
.text_underline{border-bottom:2px solid #fdb719; padding-bottom:4px}
.small-text-circle{background:#1ea2b7;border-radius:100px;-webkit-border-radius:100px;width:28px;height:28px;line-height:28px;  margin-right:10px;display:inline-block;vertical-align: middle;color:#fff; text-transform:uppercase;text-align:center; font-weight:bold;font-family: 'Open Sans Condensed', sans-serif;}

.spangroup {position: relative;z-index: 1;}
.spangroup .small-text-circle + .small-text-circle{margin:0; position:absolute; left:16px; top:0; z-index:-1;margin-top: -3px;}
.spangroup .small-text-circle + .small-text-circle + .small-text-circle{left:21px; z-index:-2}
.spangroup .small-text-circle + .small-text-circle + .small-text-circle + .small-text-circle{left:26px; z-index:-3}
.yellow-bg{background:#fcb819}
.gray-bg{background:#9b9b9b}
.btn .small-text-circle{margin-left:10px;}
.check{border:2px solid; width:18px;height:18px; display:inline-block; margin-right:18px;vertical-align:middle}
.uncheck{border:2px solid #1ea2b7; width:18px;height:18px; display:inline-block; margin-right:18px;vertical-align:middle}
.checked{background:url(../images/check.png); width:21px;height:22px; display:inline-block; margin-right:18px;vertical-align:middle}
.col-96{width:70px; display:inline-block; vertical-align:middle}

.default-list{padding:25px 0 0; list-style-type:none; }
.default-list li{margin-bottom:26px;color:#1ea2b7;position:relative; padding-right:100px;font-size: 13px;}
.default-list li .small-text-circle{margin-right:24px;font-family: 'Open Sans Condensed', sans-serif;}
.todolist>li{display:-webkit-box;display:-ms-flexbox;display:flex;}
.todolist>li>.small-text-circle{min-width:28px;justify-content: center;display:-webkit-box;display:-ms-flexbox;display:flex;}
li.checked-item{text-decoration: line-through; color:#9b9b9b}
li.checked-item .editbtn{visibility:hidden; display:none !important}
.underline{text-decoration:underline}
/*li.checked-item a{color:#9b9b9b; cursor:default}*/
.default-list a{color:#1ea2b7;text-decoration:underline}
.right-dropdown{position:absolute; right:0; top:0}
.right-dropdown a.dropdown-toggle-custom{color:#9b9b9b; text-decoration:none}

/*Button*/
button{background:transparent;cursor:pointer}
.btn-default{color:#1ea2b7; border:2px solid; border-radius:8px;-webkit-border-radius:8px;padding:.475rem .95rem; line-height:1;font-size: 12px;font-weight: bold;min-height: 40px;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;align-items: center;}
.btn-default i{font-size:19px; margin-right:5px; vertical-align:middle}
.btn-default + .btn-default{margin-left:18px}
.btns .btn-default + .btn-default{margin-left:0}
.btns .btn-default {margin-right:8px; margin-bottom:12px; width:140px;padding: .475rem .65rem;}
.btn.gray{color: #9b9b9b;}
/*.btn-default:last-child{margin-left:18px}
.btn-default::first-child{margin-left:0}*/
.btn-default:hover,.btn-default:focus,.btn-default:active{background:#1ea2b7;color:#fff;border-color:#1ea2b7}
.bicon{width:27px; display:inline-block; background-image:url(../images/btn-icons.png); background-repeat:no-repeat; height:31px}
.bicon-time{background-position:1px 0px}
.bicon-setting{background-position:1px -186px}
.bicon-pull{background-position:0px -310px}
.bicon-pdf{background-position:1px -341px}
.bicon-download{background-position:2px -279px}
.bicon-download-leter{background-position:1px -124px}
.bicon-email{background-position:1px -434px}
.bicon-available{background-position:0px -155px}
.bicon-calc{background-position:1px -93px}
.bicon-generate-letter{background-position:1px -217px}
.bicon-note{background-position:1px -31px}
.bicon-call{background-position:1px -62px}
.bicon-download{background-position:2px -279px}
.bicon-import{background-position:1px -248px}
.bicon-reminder{background-position:5px -372px}
.bicon-add{background-position:1px -402px}
.bicon-duplicate{background-position:1px -471px; width:35px}
.bicon-optimal{background-position:1px -511px; width:35px}
.bicon-mobile{background-position:1px -550px; width:20px}
.bicon-reset{background-position:5px -583px;}
.bicon-attempt{background-position:0px -618px;}
.bicon-import-app{background-position:0px -652px; width:32px}
.bicon-remove-user{background-position:0px -695px;}
.bicon-clear-app{background-position:0px -740px;}
.bicon-pull-credit{background-position:0px -778px;}


.btn:hover .bicon-time,.btn:active .bicon-time{background-position:-34px 0px}
.btn:hover .bicon-setting,.btn:active .bicon-setting{background-position:-34px -186px}
.btn:hover .bicon-import,.btn:active .bicon-import{background-position:-34px -248px}
.btn:hover .bicon-pull,.btn:active .bicon-pull{background-position:-34px -310px}
.btn:hover .bicon-pdf,.btn:active .bicon-pdf{background-position:-34px -341px}
.btn:hover .bicon-add,.btn:active .bicon-add{background-position:-35px -403px}
.btn:hover .bicon-download,.btn:active .bicon-download{background-position:-34px -279px}
.btn:hover .bicon-download-leter,.btn:active .bicon-download-leter{background-position:-34px -124px}
.btn:hover .bicon-email,.btn:active .bicon-email{background-position:-34px -434px}
.btn:hover .bicon-available,.btn:active .bicon-available{background-position:-34px -155px}
.btn:hover .bicon-calc,.btn:active .bicon-calc{background-position:-34px -93px}
.btn:hover .bicon-generate-letter,.btn:active .bicon-generate-letter{background-position:-34px -217px}
.btn:hover .bicon-note,.btn:active .bicon-note{background-position:-34px -31px}
.btn:hover .bicon-call,.btn:active .bicon-call{background-position:-34px -62px}
.btn:hover .bicon-download,.btn:active .bicon-download{background-position:-33px -279px}
.btn:hover .bicon-import,.btn:active .bicon-import{background-position:-34px -248px}
.btn:hover .bicon-reminder,.btn:active .bicon-reminder{background-position:-30px -372px}
.btn:hover .bicon-add,.btn:active .bicon-add,.btn:focus .bicon-add{background-position:-34px -402px}
.btn:hover .bicon-duplicate,.btn:active .bicon-duplicate,.btn:focus .bicon-duplicate{background-position:-33px -471px;}
.btn:hover .bicon-optimal,.btn:active .bicon-optimal,.btn:focus .bicon-optimal{background-position:-33px -511px}
.btn:hover .bicon-mobile,.btn:active .bicon-mobile,.btn:focus .bicon-mobile{background-position:-33px -550px}
.btn:hover .bicon-reset,.btn:active .bicon-reset,.btn:focus .bicon-reset{background-position:-30px -583px}
.btn:hover .bicon-attempt,.btn:active .bicon-attempt,.btn:focus .bicon-attempt{background-position:-34px -618px}
.btn:hover .bicon-import-app,.btn:active .bicon-import-app,.btn:focus .bicon-import-app{background-position:-34px -652px; width:32px}
.btn:hover .bicon-remove-user,.btn:active .bicon-remove-user,.btn:focus .bicon-remove-user{background-position:-34px -695px;}
.btn:hover .bicon-clear-app,.btn:active .bicon-clear-app,.btn:focus .bicon-clear-app{background-position:-34px -740px;}
.btn:hover .bicon-pull-credit,.btn:active .bicon-pull-credit,.btn:focus .bicon-pull-credit {background-position:-34px -778px;}


/*Gray btn*/
.btn.gray:hover{background:transparent; color:#1ea1b8}
.btn.gray .bicon-time{background-position:-74px 0px}
.btn.gray .bicon-setting{background-position:-74px -186px}
.btn.gray .bicon-pull{background-position:-74px -310px}
.btn.gray .bicon-pdf{background-position:-74px -341px}
.btn.gray .bicon-download{background-position:-74px -279px}
.btn.gray .bicon-download-leter{background-position:-74px -124px}
.btn.gray .bicon-email{background-position:-74px -434px}
.btn.gray .bicon-available{background-position:-74px -155px}
.btn.gray .bicon-calc{background-position:-74px -93px}
.btn.gray .bicon-generate-letter{background-position:-74px -217px}
.btn.gray .bicon-note{background-position:-74px -31px}
.btn.gray .bicon-call{background-position:-74px -62px}
.btn.gray .bicon-download{background-position:-74px -279px}
.btn.gray .bicon-import{background-position:-74px -248px}
.btn.gray .bicon-reminder{background-position:-74px -372px}
.btn.gray .bicon-add{background-position:-74px -402px}
.btn.gray .bicon-duplicate{background-position:-69px -471px;}
.btn.gray .bicon-optimal{background-position:-69px -511px;}
.btn.gray .bicon-mobile{background-position:-69px -550px;}
.btn.gray .bicon-reset{background-position:-69px -586px;}
.btn.gray .bicon-attempt{background-position:-69px -618px;}
.btn.gray .bicon-import-app{background-position:-69px -652px;}
.btn.gray .bicon-remove-user{background-position:-69px -695px;}
.btn.gray .bicon-clear-app{background-position:-69px -740px;}
.btn.gray .bicon-pull-credit {background-position:-69px -778px;}



.btn.gray:hover .bicon-time,.btn.gray:active .bicon-time{background-position:1px 0px}
.btn.gray:hover .bicon-setting,.btn.gray:active .bicon-setting{background-position:1px -186px}
.btn.gray:hover .bicon-pull,.btn.gray:active .bicon-pull{background-position:0px -310px}
.btn.gray:hover .bicon-pdf,.btn.gray:active .bicon-pdf{background-position:1px -341px}
.btn.gray:hover .bicon-download,.btn.gray:active .bicon-download{background-position:2px -279px}
.btn.gray:hover .bicon-download-leter,.btn.gray:active .bicon-download-leter{background-position:1px -124px}
.btn.gray:hover .bicon-email,.btn.gray:active .bicon-email{background-position:1px -434px}
.btn.gray:hover .bicon-available,.btn.gray:active .bicon-available{background-position:0px -155px}
.btn.gray:hover .bicon-calc,.btn.gray:active .bicon-calc{background-position:1px -93px}
.btn.gray:hover .bicon-generate-letter,.btn.gray:active .bicon-generate-letter{background-position:1px -217px}
.btn.gray:hover .bicon-note,.btn.gray:active .bicon-note{background-position:1px -31px}
.btn.gray:hover .bicon-call,.btn.gray:active .bicon-call{background-position:1px -62px}
.btn.gray:hover .bicon-download,.btn.gray:active .bicon-download{background-position:2px -279px}
.btn.gray:hover .bicon-import,.btn.gray:active .bicon-import{background-position:1px -248px}
.btn.gray:hover .bicon-reminder,.btn.gray:active .bicon-reminder{background-position:1px -372px}
.btn.gray:hover .bicon-add,.btn.gray:active .bicon-add{background-position:1px -402px}
.btn.gray:hover .bicon-duplicate,.btn.gray:active .bicon-duplicate{background-position:1px -471px;}
.btn.gray:hover .bicon-optimal,.btn.gray:active .bicon-optimal{background-position:1px -511px; width:35px}
.btn.gray:hover .bicon-mobile,.btn.gray:active .bicon-mobile{background-position:1px -550px;}
.btn.gray:hover .bicon-reset,.btn.gray:active .bicon-reset{background-position:-1px -586px;}
.btn.gray:hover .bicon-attempt,.btn.gray:active .bicon-attempt{background-position:-1px -618px;}
.btn.gray:hover .bicon-import-app,.btn.gray:active .bicon-import-app{background-position:-1px -652px;}
.btn.gray:hover .bicon-remove-user,.btn.gray:active .bicon-remove-user{background-position:-1px -695px;}
.btn.gray:hover .bicon-clear-app,.btn.gray:active .bicon-clear-app{background-position:-1px -740px;}
.btn.gray:hover .bicon-pull-credit,.btn.gray:active .bicon-pull-credit{background-position:-1px -778px;}


.btn:focus .bicon-time,.btn.gray:active .bicon-time{background-position:-34px 0px}
.btn:focus .bicon-setting,.btn.gray:active .bicon-setting{background-position:-34px -186px}
.btn:focus .bicon-import,.btn.gray:active .bicon-import{background-position:-34px -248px}
.btn:focus .bicon-pull,.btn.gray:active .bicon-pull{background-position:-34px -310px}
.btn:focus .bicon-pdf,.btn.gray:active .bicon-pdf{background-position:-34px -341px}
.btn:focus .bicon-add,.btn.gray:active .bicon-add{background-position:-35px -403px}
.btn:focus .bicon-download,.btn.gray:active .bicon-download{background-position:-34px -279px}
.btn:focus .bicon-download-leter,.btn.gray:active .bicon-download-leter{background-position:-34px -124px}
.btn:focus .bicon-email,.btn:active .bicon-email{background-position:-34px -434px}
.btn:focus .bicon-available,.btn.gray:active .bicon-available{background-position:-34px -155px}
.btn:focus .bicon-calc,.btn.gray:active .bicon-calc{background-position:-34px -93px}
.btn:focus .bicon-generate-letter,.btn.gray:active .bicon-generate-letter{background-position:-34px -217px}
.btn:focus .bicon-note,.btn.gray:active .bicon-note{background-position:-34px -31px}
.btn:focus .bicon-call,.btn.gray:active .bicon-call{background-position:-34px -62px}
.btn:focus .bicon-download,.btn.gray:active .bicon-download{background-position:-33px -279px}
.btn:focus .bicon-import,.btn.gray:active .bicon-import{background-position:-34px -248px}
.btn:focus .bicon-reminder,.btn.gray:active .bicon-reminder{background-position:-30px -372px}
.btn:focus .bicon-add,.btn.gray:active .bicon-add{background-position:-34px -402px}
.btn:focus .bicon-duplicate,.btn.gray:active .bicon-duplicate{background-position:-33px -471px;}
.btn:hover .bicon-optimal,.btn.gray:active .bicon-optimal,.btn.gray:focus .bicon-optimal{background-position:-33px -511px}
.btn:hover .bicon-mobile,.btn.gray:active .bicon-mobile,.btn.gray:focus .bicon-mobile{background-position:-33px -550px}
.btn:hover .bicon-reset,.btn.gray:active .bicon-reset,.btn.gray:focus .bicon-reset{background-position:-30px -583px}
.btn:hover .bicon-attempt,.btn.gray:active .bicon-attempt,.btn.gray:focus .bicon-attempt{background-position:-34px -618px}
.btn:hover .bicon-import-app,.btn.gray:active .bicon-import-app,.btn.gray:focus .bicon-import-app{background-position:-34px -652px}
.btn:hover .bicon-remove-user,.btn.gray:active .bicon-remove-user,.btn.gray:focus .bicon-remove-user{background-position:-34px -695px}
.btn:hover .bicon-clear-app,.btn.gray:active .bicon-clear-app,.btn.gray:focus .bicon-clear-app{background-position:-34px -740px}
.btn:hover .bicon-pull-credit,.btn.gray:active .bicon-pull-credit,.btn.gray:focus .bicon-pull-credit{background-position:-34px -778px}

/*Default*/
hr{border-top:2px solid #1ea0b6}
@media screen and (min-width:1024px){
  .spaceright{padding-right:65px; }
  .spaceleft{padding-left:65px;}
}
@media screen and (min-width:992px){
  .spaceright{ margin-top:3rem; margin-bottom:3rem; position:relative}
  .spaceright:after{border-right:1px solid #b9b9b9; position:absolute; height:100%; right:-11px; content:'';top:0}
  .spaceleft{margin-top:3rem; margin-bottom:3rem}
  .mt-6 {margin-top: 4.5rem !important;}
}

/*autocomplete css*/
ul.ui-menu.ui-widget-content{border:1px solid #9b9b9b}
ul.ui-menu.ui-widget-content li.ui-menu-item{padding:10px;}
ul.ui-menu.ui-widget-content li.ui-menu-item:hover{background:#ffffff}
ul.ui-menu.ui-widget-content li.ui-menu-item + li.ui-menu-item{border-top:1px solid #9b9b9b;color:#b9b9b9}
ul.ui-menu.ui-widget-content li.ui-menu-item .ui-menu-item-wrapper{color:#b9b9b9}
ul.ui-menu.ui-widget-content li.ui-menu-item .ui-menu-item-wrapper.ui-state-active{background:#ffffff;color:#b9b9b9;border-color:transparent }
ul.ui-menu.ui-widget-content li.ui-menu-item .ui-menu-item-wrapper strong{color:#9a9a9a}
ul.ui-menu.ui-widget-content li.ui-menu-item a{color:#1ea2b7}

/*Opportunities page*/
.tab-nav{border:0}
.seprator-nav li a:after {content: '';display: inline-flex;position: relative;top: 3px;border-left: 1px solid;height: 17px;margin-left: 12px;font-size: 11px;color: #1ea1b8;}
.seprator-nav li:last-child a:after{border:0}
.seprator-nav li a.active{text-decoration:underline}
.seprator-nav .nav-link{padding-right:0}
.tab-nav .nav-link:hover,.tab-nav .nav-link.active{border:0; color:#fdb71a}
.tab-nav a.nav-link{font-size:15px;font-family: 'Open Sans Condensed', sans-serif;font-weight:700; border:0}
.newtab-nav a.nav-link{font-size:19px;}
.newtab-nav li a::after{font-size: 14px;height: 19px;border-left: 2px solid;}
.tab-nav a span{color:#fdb71a}
.btn-site{background:#1ea2b7; color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px; border-radius:0;-webkit-border-radius:0;line-height:1;display: inline-block;}
.btn-site.ac-btn{padding: 0;min-width: inherit;padding:0;border-radius:0;-webkit-border-radius:0;}
.btn-site-yellow{background:#fdb71a; color:#fff !important; font-family:Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px; border-radius:0;-webkit-border-radius:0;line-height:1;display: inline-block;padding:.215rem .75rem;}
.btn-site:hover,.btn-site:focus,.btn-site:active:focus,.btn-site:hover:focus{background:#0a879d; color:#ffffff}
.btn-site + .btn-site{margin-left:13px}
.btn-site i{margin-right:4px}
.big-btn{padding: 1.1rem 1.795rem;}
.lg-btn{padding: .68rem .995rem;}
.md-btn{padding: .5rem .995rem; min-width:68px;}
.form-inline .form-control.search-textbox {height: 22px;line-height: 1;padding: 0 8px;font-size: 12px;width: 100%;max-width: 200px;}
.radius{border-radius:3px;-webkit-border-radius:3px;}
.sort-dropdown {padding:3px}
.sort-dropdown .dropdown-item{font-size:12px;color:#1ea1b8; padding:3px 5px}
.sort-dropdown .dropdown-item:hover{background:#d6d6d6; border-radius:6px;-webkit-border-radius:6px;}
.sort-dropdown .dropdown-item i{margin-right:7px}
.fa-check-mark{background:url(../images/checkmark.png) no-repeat left center;height: 12px;width: 12px;}
.checkbox-menu{padding:0; max-height:260px; overflow-y:auto;margin-bottom: 0;}
.checkbox-menu label{display:block; margin-bottom:0; padding:0px 5px;}
.checkbox-menu label:hover{background: #d6d6d6;border-radius: 6px;-webkit-border-radius: 6px;}
.checkbox-menu label input[type="checkbox"]{position:absolute; opacity:0;width: 1px;height: 1px;}
.checkbox-menu label input[type="checkbox"] + span{font-size: 11px;color: #1ea1b8;padding: 3px 5px; display:block; position:relative; padding-left:20px}
.checkbox-menu label input[type="checkbox"] + span:before{width:10px; height:10px; content:''; display:block; position:absolute; left:0; top:6px; border:1px solid }
.checkbox-menu label input[type="checkbox"]:checked + span:before{width:10px; height:10px; content:''; display:block; position:absolute; left:0; top:4px; border:0px solid;background:url(../images/checkmark.png) no-repeat left center;height: 12px;width: 12px; }
.arrodown{float: right;margin-right: 10px;margin-top: 4px;}
.arrodown path{fill:#9b9b9b}
td .dropdown-small, .default-dropdown{font-weight:normal; border:1px solid #e4e5e7; padding:2px 13px 2px 3px; background-position:95% center; border-radius:0;-webkit-border-radius:0; text-align:left}
.default-dropdown{padding-right:24px; background-size:10px 16px}
.notepopup .popover{top:auto; bottom:10px;left:16px; width:287px; padding:12px; border:1px solid #e5e5e5; display:none}
.notepopup:hover .popover{display:block}
.popover p:last-child{margin-bottom:0}
.hide{display:none}
.hide.show{display: table-row;}
.spacer40{padding:15px 40px}
.column {/*font-weight:bold;*/ color:#9b9b9b; padding-top:8px; width:140px; height:40px; padding-right:4px}
.column .custom_check{padding-left:30px; line-height:1.1}
.column .custom_check input[type="checkbox"] + .check-item{position:absolute; left:0}
.ordered {padding:0; list-style-type:none;position:relative;}
.ordered:before{content:''; position:absolute; left:-15px; height:100%; border-left:2px solid #b9b9b9}
.ordered li{/*width:121px;*/ border-top:1px solid #dcdcdc; color: #9b9b9b; padding:10px 12px 10px 24px; /*font-weight:bold; */position:relative; }
.ordered li:last-child{border-bottom:1px solid #dcdcdc;}
.ordered li.active {color:#1ea2b7;}
.ordered li.active .remove-list{cursor:pointer; position:absolute; right:0; width:12px; height:12px;content:'x'; font-size:12px; color:#9b9b9b;cursor:pointer}
.ordered li.active:before{content:''; background:url(../images/dots.png) no-repeat; position:absolute; left:4px; top:14px; width:10px; height:9px; display:block}
.timepicker .gj-icon.clock{opacity:0; width:100%}
.nodots{padding:0; list-style-type:none}
.list-gap li{margin-bottom:22px}
.list-gap li p{margin-bottom:10px}
.table thead th{padding: 1.42rem .42rem; white-space:nowrap}
.table.default-table thead th{padding: 1.42rem .32rem; white-space:nowrap}
.table.default-table thead th button{padding-left:0; font-size:12.3px}
/*.table{white-space:nowrap}*/
/*.table.default-table td{padding: .32rem;}*/
.table.default-table .default-select-small{padding-left:0}

/*New lead*/
.space-btm22{margin-bottom:22px}
.static-w35{width:35px}
.static-w85{width:85px}
.static-w96{width:96px}
.static-w149{width:149px}
.static-w164,.label-text{width:164px}
.static-w172{width:172px}
.static-w287{width:287px}
.static-w246{width:246px}

/*Data Table*/
.dataTables_wrapper{margin-top:1rem}
.dataTables_wrapper th,.table th{color:#1ea1b8}
.dataTables_wrapper .default-select-small{font-weight:normal; width:100%}
.table .btn-site{margin-right:3px; vertical-align:middle; margin-bottom:5px}
.table .btn-site + .btn-site{margin-left:0}


/*.table tr td:last-child{white-space:nowrap}*/
.ti {background-image:url(../images/icons.png); background-repeat:no-repeat; width:24px; height:21px; display:block}
.edit{background-position:3px 1px}
.call{background-position:-25px 1px}
.enevelop{background-position:-53px 1px}
.doc{background-position:-81px 2px}
.time{background-position:-109px 2px}
.eye{background-position:3px -29px}
.mail{background-position:-25px -30px}
.copy{background-position:-55px -28px}
.attempted{background-position:-80px -25px}

/*Analytics page*/
.bdr{border:1px solid #b9b9b9}
.status-active{color:#8dc63f}
.status-inactive{color:#fdb71a}
.visible{display:block}
.border2{border:2px solid}
.sm-btn{line-height: 0.5;padding: 0.3rem;}
.gap-inside{padding:30px 0px}
@media screen and (min-width: 1170px){
  .gap-inside{padding:50px 135px}
}
.title-xsmall{font-size:15px;font-family: 'Open Sans Condensed', sans-serif;}
@media screen and (min-width: 992px){
.column-5 .col-lg-2 {-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
.navbar-brand{display:none}
}

.gray-bdr{border-color:#d9d9d9}
.gap-inside-small{padding:25px}
.gap-inside-vsmall{padding:15px}

/* .editable-fields .select-hidden{
  display: block;
  visibility: visible;
} */
/* .editable-fields .dropdown-small{
  display: none;
} */


/*Select dropdown*/
.select-hidden {display: none;visibility: hidden;padding-right: 10px;}
.select {cursor: pointer;display: inline-block;position: relative;/*font-size: 12px;*/width: 100%;/*height: 23px;line-height:16px;font-weight:normal*/}
.select-styled {position: relative; top: 0;right: 0;bottom: 0;left: 0;background-color: #fff;padding: 3px 25px 3px 5px;border:1px solid #e4e5e7;/*font-weight: normal;*/}

.select-options {display: none; position: absolute;top: 100%;right: 0;left: 0;z-index: 999;margin: 0;padding: 0;list-style: none;background-color: #fff;background-clip: padding-box; border: 1px solid rgba(0,0,0,.15);max-height: 150px;overflow-y: auto;white-space: nowrap;overflow-x: hidden;}
.select-options li {margin: 0 !important;/*font-size: 11px;*/color: #1ea1b8;padding: 3px 5px;}
.select-options li:hover {background: #d6d6d6;border-radius: 6px;-webkit-border-radius: 6px;}
.select-options li span{font-weight:normal}
.bordered-list .select-options{border-color:#9b9b9b}
.bordered-list .select-options li{border-bottom:1px solid #9b9b9b; padding:4px;border-radius: 0px !important;-webkit-border-radius: 0px !important;}
.bordered-list .select-options li span{display:block; padding:2px 5px;border-radius: 6px;-webkit-border-radius: 6px;}
.bordered-list .select-options li span:hover{background: #d6d6d6;}
.check-list{padding:0; margin:0;padding-bottom:20px; list-style-type:none}
.check-list li{margin-top:20px; padding-left:30px; position:relative; background:url(../images/check.png) left top no-repeat; min-height:26px;padding-top: 5px;}
.select_large .select-styled {font-weight:normal}
.select_large.bold .select-styled,.select_large.bold li span {font-weight:700}


/**/
.nospace{padding: 0.5rem 1rem 0;}  
.noborder{border:0} 
.noradius{border-radius:0;-webkit-border-radius:0}
.noresize{resize:none}
.modal-body{padding: 1rem 2.5em;}
.datepicker-field .gj-datepicker,.mini-dropdown,.mini{border:1px solid #e4e5e7; font-size:12px; font-weight:normal;height: 26px; width:100%}
.datepicker-field .gj-datepicker input{border:0 !important; background:#ffffff url(../images/calender.png) 96% center no-repeat}
.datepicker-field .gj-datepicker .gj-icon{display:none}
.gj-picker-md table tr th div{color: #212529;}
.block{display:block; width:100%}
.red,.required{color:#ff0000 !important}

/*Profile edit page*/
.profile-pic{width:150px; height:150px; margin:20px auto; border:6px solid #1f9bba; border-radius:100%;-webkit-border-radius:100%;overflow:hidden}
.profile-pic img{width:100%; height:100%}
.user-information{padding:0; list-style-type:none}
.user-information li{margin-bottom:12px; margin-top:15px; font-size:21px;font-family: 'Open Sans Condensed', sans-serif;font-weight:700;}
.user-information li img{margin-right:15px}
.user-information li a{color:#9b9b9b; text-decoration:underline}
.mt-10{margin-top:6rem}
.progress-strip{border:1px solid #cfcfcf; height:14px; border-radius:30px;-webkit-border-radius:30px; margin-top:40px;margin-bottom:8px; overflow:hidden}
.progress-strip li{width:20%; height:14px; position:relative}
.progress-strip li:after{content:''; position:absolute; right:0; top:0; height:100%; border-right:1px solid #cfcfcf; transform:rotate(30deg);-webkit-transform:rotate(30deg);}
.progress-strip li.active:before{background:#fdb71a;-webkit-clip-path: polygon(6% 0, 100% 0, 94% 100%, 0% 100%);clip-path: polygon(6% 0, 100% 0, 94% 100%, 0% 100%); content:'';height: 100%;display: block;left: 0;right: 0px;margin-left: -10px;margin-right: -5px;position:absolute; z-index:-1}
.progress-bar-edit{font-size:16px; color:#9b9b9b}
.progress-bar-edit .active span{color:#1ea1b8}
.light-border{border-color:#e5e5e7}


.edit-tabs{display: table;width: 100%;text-align: center;}
.edit-tabs .nav-item{margin-bottom:0;border:1px solid #9b9b9b; border-right:0; display:table-cell;}
.edit-tabs .nav-item:last-child{border-right:1px solid #9b9b9b; }
.edit-tabs .nav-item a{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;}
.edit-tabs .nav-item a.active{background:#1ea2b7; color:#ffffff; border-radius:0;-webkit-border-radius:0}
.view-letter{background:rgba(255,255,255,0.7);height: 100%;width: 100%;top: 0; visibility:hidden; opacity:0; transition:0.5s all;-webkit-transition:0.5s all}
.generated-letter:hover .view-letter{visibility:visible; opacity:1}
.border1{border-left:1px solid #fdb71a}
@media (max-width: 580px){
.edit-tabs .nav-item{width:100%}
.border1{border-left:0}
}
.info {padding:0; margin:0; list-style-type:none;color:#9b9b9b;}
.info li{border-bottom:1px solid;  padding-top:9px; padding-bottom:9px; font-size:13px; font-weight:bold; display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between; align-items:center; min-height:41px;}
.info li span:first-child{color:#9b9b9b}
.info li span:last-child{color:#1ea1b8; font-weight:normal}
.info li span:last-child .gray{color:#9b9b9b}
.info li span.text-right span{color:#1ea1b8;}
.info li .uncheck{margin-right:8px}
.info li .checked{margin-right:5px}
.info li.hide{display:none}
.normal-text li{font-weight:normal}
.noborder li{border:0}

.column-box{border:2px solid #9b9b9b; border-radius:35px;-webkit-border-radius:35px; margin-bottom:15px; padding:30px 45px}
.text-small{display:block; font-size:12px; color:#9b9b9b;margin-top: 0px;font-weight: normal;}
.text-normal{font-size:12px;font-weight: normal;}
@media (max-width: 580px){
.column-box{border-radius: 0px;-webkit-border-radius: 0;}
}
.accordion-header{position:relative;  cursor:pointer}
.accordion-header:after{transform: translateY(-50%) rotate(180deg);-webkit-transform: translateY(-50%) rotate(180deg);content:''; background:url(../images/arrow-up.png) right center no-repeat; width:33px; height:20px; position:absolute; right:0; display:block;top: 50%; transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out}
.accordion-header.collapsed:after{content:''; background:url(../images/arrow-up.png) right center no-repeat; width:33px; height:20px; position:absolute; right:0; display:block;top: 50%;
transform: translateY(-50%);-webkit-transform: translateY(-50%);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out}
.accordion-header.active-toggle:after,.accordion-head.active-toggle:after{transform: translateY(-50%) rotate(180deg);-webkit-transform: translateY(-50%) rotate(180deg));}
.accordion-header.active-toggle,.accordion-head.active-toggle,.accordion-head-inside.active-toggle{border-bottom-color:transparent}
.list-image {min-width: 98px;display: inline-block; text-align:center}

.info.status li{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: initial;}
.small-space{width:160px}
.small-column{width:90px; display:inline-block; padding:3px}
.listing{padding:0 0 0 15px; margin:0;}
.listing li{display:block; font-weight:normal; border:0; padding-top:5px; padding-bottom:5px; line-height:1.1}
.listing li span{display:block}
.shape1 li{padding-left:29px; background:url(../images/shape1.png) left 6px no-repeat}
.shape2 li{padding-left:29px; background:url(../images/shape2.png) left 6px no-repeat}
.user-information.text15 li{font-size:18px}

/*Application Credit Tab*/
.accordion-head{cursor:pointer; padding-top:40px;padding-bottom:40px; border-bottom:1px solid; margin-bottom:0; position:relative}
.accordion-head:after{content:''; background:url(../images/arrow-up.png) right center no-repeat; width:33px; height:20px; position:absolute; right:0; display:block;top: 50%;
transform: translateY(-50%);-webkit-transform: translateY(-50%);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out}

@media (max-width: 767px){.accordion-header.collapsed:after,.accordion-header:after,.accordion-head:after{width:25px; background-size:contain}}
.accordion-head-inside{cursor:pointer; padding-top:40px;padding-bottom:40px; border-bottom:1px solid; margin-bottom:0; position:relative}
.accordion-head-inside:after{content:''; background:url(../images/arrow-down2.png) right center no-repeat; width:30px; height:18px; position:absolute; right:0; display:block;top: 50%;
transform: translateY(-50%);-webkit-transform: translateY(-50%);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out}
.accordions li{/*border-bottom: 1px solid #e4e5e7;*/padding-top: 8px;padding-bottom: 8px; font-weight:normal}
.accordions .default-list li{margin-bottom:0}
.second-stage{display:none}
.credit-score{height: 8em;width: 161px; margin:10px auto 0px; padding:0; position:relative}
.credit-meter-container{position:absolute; left:0; right:0; top:0;bottom:0}

.credit-score-meter {background: url(../images/needle.png) no-repeat;width: 13px;height: 79px;position: absolute;left: 50%;margin-left:-5%;top: 18%;-webkit-transform-origin: 50% 78.5%;
  transform-origin: 50% 78.5%}
.minutes-container {-webkit-animation: rotate 3600s infinite steps(60);animation: rotate 3600s infinite steps(60)}

@-webkit-keyframes rotate {100% {-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}}
@keyframes rotate {100% {-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}}


/*Document Checklist*/
.doc-checklist{padding:0;list-style-type:none}
.doc-checklist li{font-weight: bold; font-family:Arial, Helvetica, sans-serif; margin-bottom: 12px;margin-top: 15px; font-size: 18px;font-family: 'Open Sans Condensed', sans-serif;}
.doc-checklist li img {margin-right: 15px;}
.large-select-dropdown .select-styled{color: #1ea1b8;font-weight: bold;font-size: 15px; background-position:95% center}
.bdr1{border-top-width: 1px/* solid #1ea0b6*/;}
.default-table th .dropdown-small{font-size:15px;}
.default-table .dropdown-small{min-width:100%}
.btn-v-sm{padding: .175rem .25rem;}
.text13{font-size:13px}
.text12{font-size:12px}

/*Checkbox and switch*/
.customcheck,.custom_check{display:inline-block; position:relative}
.customcheck input[type="checkbox"],.custom_check input[type="checkbox"]{position:absolute; visibility:hidden; opacity:0}
.customcheck input[type="checkbox"] + label,.custom_check input[type="checkbox"] + .check-item{padding-left:22px; position:relative; min-height:6px}
.customcheck input[type="checkbox"] + label:before,.custom_check input[type="checkbox"] + .check-item:before{width:16px; height:16px;border: 2px solid #1ea2b7; content:''; display:block; left:0; top:0; position:absolute}
.customcheck input[type="checkbox"]:checked + label:after,.custom_check input[type="checkbox"]:checked + .check-item:after{border:0; background:url(../images/checked.png) no-repeat; width:22px; height:21px; position:absolute; left:-3px; top:-5px; content:'';}

.custom_check.grey input[type="checkbox"] + .check-item:before{border:1px solid #9b9b9b}

.check2 input[type="checkbox"]:checked + label:after,.check2 input[type="checkbox"]:checked + .check-item:after{background-image:url(../images/checked2.png);}
.checkgreen input[type="checkbox"] + label:after{background-image:url(../images/checked2.png); width: 22px;height: 21px;position: absolute;
left: -3px;top: -5px;content: '';}
.checkgreen input[type="checkbox"]:checked + label:after{background-image:url(../images/checked.png);}
.gray_check input[type="checkbox"]:checked + label:after,.gray_check input[type="checkbox"]:checked + .check-item:after{background-image:url(../images/gray-check.png);}
.gray_check input[type="checkbox"] + .check-item:before{border-color:#b9b9b9}

.switch {position: relative; display: inline-block; width: 50px; height: 24px;}
.switch input {opacity: 0; width: 0;height: 0;}
.slider { position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 20px;width: 20px;left: 4px;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #1ea1b8;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(23px);-ms-transform: translateX(23px);transform: translateX(23px);}

.check-group label,.check-group input[type="checkbox"] + .checkdata {position: relative;cursor: pointer;margin:0}
.check-group input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
.check-group label:before,.check-group input[type="checkbox"] + .checkdata:before {content:'';-webkit-appearance: none;background-color: transparent;border: 1px solid #9b9b9b;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 7px;display: inline-block;position: relative;vertical-align: middle;cursor: pointer;margin-right: 5px;}

.check-group input:checked + label:after,.check-group input:checked + .checkdata:after {content: '';display: block;position: absolute;top: 3px;left: 5px;width: 6px;height: 11px;border: solid #9b9b9b;border-width: 0 2px 2px 0;
  transform: rotate(45deg);-webkit-transform: rotate(45deg);}

/* Rounded sliders */
.slider.round {border-radius: 34px;-webkit-border-radius: 34px;}
.slider.round:before {border-radius: 50%;-webkit-border-radius: 50%;}

@media (min-width: 1120px){
.col-md-6:first-child .wrap-small,.col-lg-6:first-child .wrap-small{padding-right:3.5rem}
.col-md-6:nth-child(2) .wrap-small,.col-lg-6:nth-child(2) .wrap-small{padding-left:3.5rem}
.container {max-width: 1380px;}
.small-container{max-width: 1080px;}
.very-small-container{max-width: 900px; margin:auto}
.nowrap-table th,.nowrap-table td{white-space:nowrap;/*padding: .32rem .42rem;*/ vertical-align:middle}
}
.text15{font-size:15.85px !important}
.border-default {border-color: #1ea1b8 !important;}
.gray-table thead th{color:#9b9b9b; font-weight:bold;font-size: 13px;}
.table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {border: 0;}
.bordered-td tbody tr td{border-bottom:1px solid; vertical-align:middle}
.table-borderd-btm tbody tr td,.table-borderd-btm thead th{border-bottom:1px solid #9b9b9b}
.table-borderd-btm thead th{vertical-align:middle}
.accordion-head.bottom-arrow:after{top:auto;bottom:40px}
.check-dropdown-in{padding: 12px; margin:0}
.check-dropdown-in .dropdown-item{padding-left:0.5em}
.dropdown-menu.dropdown-large{width:100%; margin-top:0}
.dropdown-large{border:1px solid #00a6ce; border-radius:0; margin-top:18px}

.check-dropdown-in .customcheck input[type="checkbox"] + label{padding-left:32px}
.check-dropdown-in .customcheck input[type="checkbox"] + label:before{top:6px}
.check-dropdown-in .customcheck input[type="checkbox"]:checked + label:after{top:0}
.check-dropdown-in .dropdown-item{color: #1ea2b7;font-weight: bold; font-size:14px; margin-top:8px; margin-bottom:0;padding-right:0}
.check-dropdown-in .dropdown-item:hover,.check-dropdown-in .dropdown-item:active,.check-dropdown-in .dropdown-item:hover:active{background:transparent;}
.close-dropdown-menu{border:0; background:transparent; color: #1ea2b7; float:right; cursor:pointer; font-size: 21px;line-height: 1; margin-right:12px}
.custom-dropdown{}


/*Custom calendar*/
.ui-datepicker {background:#fff}
.ui-datepicker-multi .ui-datepicker-group table{width: 85%;}
.ui-widget.ui-widget-content{border:0}
.ui-widget-header{background:transparent; border:transparent; color:#1ea2b7; font-size:12px;}
.ui-datepicker th{font-size:11px; color:#9b9b9b; font-weight:normal;padding: .5em 0em;}
.ui-datepicker th span{text-decoration:underline}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{border:0;background:transparent;color: #9b9b9b;font-size: 11px;}
.ui-datepicker td span, .ui-datepicker td a {display: inline-block;padding: 0.3em 0em;text-align: center;text-decoration: none;font-size: 11px;border:0;background:transparent;color: #9b9b9b;width:23px;}
.ui-datepicker td{text-align:center;border-bottom: 5px solid #fff !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight,.ui-widget-content .ui-state-default.ui-state-active{background:#fdb71a/*#1fa1b9*/; color:#fff}
/*.home .ui-state-highlight, .home .ui-widget-content .ui-state-highlight,.home .ui-widget-content .ui-state-default.ui-state-active{background:#fdb71a; color:#fff;border-color:#fdb71a;}*/
.home .comiseo-daterangepicker-calendar td.ui-state-highlight.ui-datepicker-current-day,.home .comiseo-daterangepicker-calendar td.ui-state-highlight.ui-datepicker-current-day a,.home .ui-datepicker-today .ui-state-highlight{background:#fdb71a;}

.ui-datepicker-today a.ui-state-highlight{background:#fdb71a !important}
.ui-datepicker-today {border-color:#1ea2b7 !important}
.calendar-modal.custom-calendar {padding: 20px; padding-bottom:10px}
.event-datepicker{padding-top:18px; padding-bottom:18px}
.calendar-btns {border-bottom: 1px solid #9b9b9b;max-width: 82%;display: block;margin: auto;padding-bottom: 15px;}
.calendar-btns .btn{padding:8px 12px 10px;border-radius:9px;-webkit-border-radius:9px; line-height:1;font-size: 13px;font-weight: bold;font-family: Arial;}
.calendar-btns .btn:hover{background:#1fa1b9; color:#fff}
.dateselectdropdown .ui-button:before {
    content: 'Due:';
    margin-right: 8px;
}

.large-calendar .ui-datepicker .ui-datepicker-header{position:static}
.large-calendar .ui-datepicker .ui-datepicker-prev,.large-calendar  .ui-datepicker .ui-datepicker-next{top:50%;background: transparent;border: 0;}
.ui-icon-circle-triangle-e {background-position: -117px -222px;}
.ui-icon-circle-triangle-w {background-position: -102px -222px;}

.columnheight{height:40px}
.nogap{padding-left:0; padding-right:0}
.custompagination .page-item .page-link{border:0; font-weight:bold}
.custompagination .page-item .page-link:hover{background:transparent;}
.custompagination .page-item .page-link i{ font-weight:bold}
.page-link{color:#1ea2b7}

.table.theadbdr thead th {vertical-align: bottom;border-bottom: 2px solid #dee2e6;}
.borderbtm tbody td {border-bottom: 1px solid #9b9b9b;border-top:0}
.calendar-pick{border:1px solid #e5e5e5; background:#fff url(../images/calendar-mini-icon.png) right center no-repeat}

/*Settings page*/
@media (min-width: 768px){.nav-vertical li.nav-item {width: 100%;margin-bottom: 1.1rem;}.nav-vertical li a.nav-link{padding:0;}.space-left{padding-left:60px}.leftbdr{border-left:2px solid #00a6ce}.header-title.mt-md-5{margin-top: 5rem !important;}
.seprator{position:relative}
.seprator:before {border-right: 2px solid #1fa1b9;content: '';left: 50%;position: absolute;height: 100%;margin-left: -30px;}

.seprator1{position:relative}
.seprator1:before {border-right: 2px solid #ddd;content: '';left: 50%;position: absolute;height: 100%;margin-left: -5px;}
.mobile-search{display:none}
.justify-end{justify-content:flex-end;}
}
@media (max-width: 767px){
.nav-vertical {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap; -webkit-box-pack: center !important;
-ms-flex-pack: center !important;justify-content: center !important;border-bottom:2px solid #00a6ce;padding-bottom: 5px;}.space-small{padding:.375rem .05rem}
.large-calendar .ui-datepicker-inline{width:17em !important}.large-calendar .ui-datepicker-multi-2 .ui-datepicker-group{width:100% !important}
.mobile-search {
  max-width: 204px;
  text-align: left;
}
}
.nav-vertical li a.nav-link{font-size:21px;  color:#9b9b9b; display:inline-block}
.nav-vertical li a.nav-link:hover,.nav-vertical li a.nav-link:active,.nav-vertical li a.nav-link:active:hover,.nav-vertical li a.nav-link.active{color:#1ea1b8}

.label-field{width:87px; margin-bottom:0; color:#9b9b9b; font-weight:bold; font-size:13px}
.static-width-60{width:60px}
.static-width-74{width:74px}
/* .static-width-4{width:104px} */
.static-width{width:168px}
.static-width-2{width:137px}
.static-width .select-styled,.styled .select-styled{padding: 4px 9px; border-color:#9b9b9b; width:100%; border-radius:0; -webkit-border-radius:0}
.styled-default .select-styled{padding-right:24px}
input.select-styled{ border:1px solid #9b9b9b; color:#1ea1b8; width:168px;padding: 8px 9px;height: 29px;}
.btn-full{width:100%;padding: 8px 9px;}
.full{width:100%;}
.light-input{position: relative;top: 0;right: 0;bottom: 0;left: 0;background-color: #fff;padding: 3px 20px 3px 5px;border: 1px solid #e4e5e7;}
.calendar_{background-image:url(../images/calendar-mini-icon.png); background-repeat:no-repeat; background-position:right center}
.radius5{border-radius:5px;-webkit-border-radius:5px;}
.text-field{padding: 5px 9px; border:1px solid #9b9b9b; color:#1ea1b8; margin-right:5px}
.text11{font-size:11px}
.label-subtext{line-height:3}
.fieldset{padding-bottom:40px}
.notification{width:15px; height:15px; line-height:14px;text-align:center;position:relative; text-align:center; font-size:11px; font-weight:normal;border:1px solid; border-radius:50px;-webkit-border-radius:50px;display:inline-block; margin-left:7px;}
.upload-profile-pic{max-width:135px;}
.ellipsis,td.ellipsis{width : 90%;overflow:hidden;display:inline-block;text-overflow: ellipsis;white-space: nowrap;border:0}
.ellipsis2{width:70%}
.textWrap{width:1%}
.black{color:#000000}

.fancybox-nav.fancybox-prev span{width:53px; height:218px; background:url(../images/arrow-left.png) no-repeat; visibility:visible; top:20%}
.fancybox-nav.fancybox-next span{width:53px; height:218px; background:url(../images/arrow-right.png) no-repeat; visibility:visible; top:20%}
.fancybox-title-over-wrap{text-align: center;font-size: 30px;height: 104px;display: flex;justify-content: center;align-items: center;right: 0;
  top: 0;bottom:inherit;font-size: 2.0rem;font-family: 'Open Sans Condensed', sans-serif;color:#fff;background:rgba(30,161,184,0.7);font-weight: 700;
}
.table-layout-fixed{table-layout:fixed}
/*Analytics page*/
.field-item{width:195px;margin:auto}

/*Notifications page*/
.light-yellow-bg{background:#fff4de;}
.notification-large-list li p{margin-bottom:0.5rem}
.notification-large-list li{padding:15px 10px; padding-right: 68px;padding-left: 70px;}
.notification-large-list li .nf-icon{width: 65px;line-height: 40px;}
.dotted{font-size:20px; font-weight:bold; line-height:0; cursor:pointer; color:#1ea0b6; float:right; height:12px;text-decoration: none !important;}
.nf-dropdown{min-width:auto;padding:0; border-radius:0;-webkit-border-radius:0; margin-top:12px}
.nf-dropdown:before{content:'';border-left:1px}
.nf-dropdown .dropdown-item{padding:.45rem 0.5rem; font-size:12px; font-weight:bold;color:#1ea0b6; border-bottom:1px solid #b9b9b9}
.nf-dropdown .dropdown-item:last-child{border:0}
.nf-dropdown .icon{width:22px; text-align:center; display:inline-block}
.nf-dropdown {background: #ffffff;border: 1px solid #b9b9b9;}
.nf-dropdown:after, .nf-dropdown:before {bottom: 100%;right: 12px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.nf-dropdown:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #ffffff;border-width: 8px;margin-right: -8px;}
.nf-dropdown:before {border-color: rgba(185, 185, 185, 0);border-bottom-color: #b9b9b9;border-width: 9px;margin-right: -9px;}
.smalldropdown{position:absolute; right:4px; height:16px; width:13px;}
.smalldropdown + .dropdown-menu {left: -17px !important;margin-top: 10px;}
.step-content .gap-inside-vsmall{height:100%}
.grab input[type="radio"]{visibility:hidden; position:absolute; opacity:0}
.grab input[type="radio"] + label{color: #9b9b9b; border-color:#9b9b9b;}
.grab input[type="radio"]:checked + label{color:#1ea2b7 !important; border-color:#1ea2b7 !important}
.showmore{position:absolute;top:0;bottom:0;left:0;right:0;z-index:2}
.moreshow{display:block}
.create-lead label{vertical-align:top;font-weight:bold;color: #9b9b9b;}
.create-lead .default-input{height:30px;}
@media (min-width: 1140px){
.fancybox-nav.fancybox-next {right: -132px;}
.fancybox-nav.fancybox-prev {left: -132px;}
}
@media (max-width: 1140px){.container {max-width: 1100px;}}

/*login*/
.login-bg{background:url(../images/login-bg.jpg) center top no-repeat; background-size: cover; width:100%;height:100%;top:0; position:fixed; z-index:-1}
.blurred .login-bg{filter: blur(4px);  -webkit-filter: blur(4px);}
.login-wrap{width:100%; max-width:620px; margin:auto; margin-top:50px;margin-bottom:120px;border:1px solid #9b9b9b; background:#ffffff;padding:44px 20px}
.logincontainer{max-width:406px; margin:auto}
.space30{margin-top:30px; margin-bottom:30px}
.input-field{height:30px;}
.login-strip{/*background:url(../images/strip.png) center 0 no-repeat; background-size:cover; */ background:rgba(31,161,185,0.84); height:163px; margin-bottom:150px}
.static-w358 {
  max-width: 358px;
  width: 100%;
}
.login-strip .container{height:100%}
#main-quote span::before {
  content: "\"";
}
#main-quote span::after {
  content: "\"";
}
.gap40{padding-left:20px; padding-right:20px;}
.shown{display:block}

.wrap-outer{
  background-image: url(../images/image_1.png), url(../images/image_2.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
}

.default-place::placeholder {
  color: #b8b8b8;
  opacity: 1; /* Firefox */
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal
}

.default-place:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #b8b8b8;
 font-family:Arial, Helvetica, sans-serif;
  font-weight:normal
}

.default-place::-ms-input-placeholder { /* Microsoft Edge */
 color: #b8b8b8;
 font-family:Arial, Helvetica, sans-serif;
  font-weight:normal
}

#menuBarDiv a.btn{padding: .375rem .45rem;font-size: 13px;border:1px solid #888; padding: 3px 12px;line-height: 1.42857143;min-height:inherit; border-radius:0;font-weight: normal;font-family: Arial;}
#menuBarDiv a.btn i{font-size:14px; margin-right:0}
#menuBarDiv a.btn:{}
.video-wrap{position:relative}
.vidbutton{
  cursor: pointer;
  height: 30px;
  background: rgba(30, 155, 186, 0.8) none repeat scroll 0% 0%;
  box-shadow: none;
  width: 45px;
  position:absolute;
  border:0;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.unbreak td:last-child{white-space:nowrap}
.todo .right-dropdown .dropdown-toggle-custom{width: 110px;padding: 5px 10px;display: block; text-align:right}
.todo .right-dropdown.show>.dropdown-toggle-custom {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 110px;
  display: block;
  text-align: right;
}
.txtbox{max-width:300px}
#createLead label.error{
  width: 100%;
  padding-left: 168px;
  margin: 0;
  color:red !important
}

.slide-menu{
  position:fixed;
  right:-240px;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}

.pull-button{
  border:2px solid #1ea1b8;
  border-radius:8px 0 0 8px;
  -webkit-border-radius:8px 0 0 8px;
  border-right:0;
  width:23px;
  height:84px;
  position:absolute;
  display:block;
  background:#ffffff;
  right:100%;
  top:50%; 
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.pull-button span{
  width:11px;
  height:19px;
  display:block;
  background:url(../images/arrows.png) center 0 no-repeat;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  background-position:0 -19px;
  animation:ease-in-out 0.4s;
  -webkit-animation:ease-in-out 0.4s;
}
.slide-menu.open .pull-button span{background-position:0 0px;}
.sidenav{border:2px solid #1ea1b8; border-right:0;border-radius:8px 0 0 8px;-webkit-border-radius:8px 0 0 8px; background:#fff; list-style-type:none; padding:0;margin:0; width:290px;}
.sidenav li{border-bottom:2px solid #1ea1b8;padding: 8px 10px;}
.sidenav li:last-child{border:0; border-radius: 0 0 0 8px;-webkit-border-radius:0 0 0 8px;}
.sidenav li:nth-child(2n){background:#f2f2f2;}
.sidenav a{display:block;padding:8px 10px}
.sidenav li span{font-weight:bold;  display:inline-block}
.sidenav li a{color:#9b9b9b;pointer-events: none;}
/*.sidenav li:hover a{color:#1ea1b8}*/
.sidenav li.active,.sidenav li.active a{color:#fdb71a}
.sidenav li span + span{width:150px}
.sidenav li span:last-child{width:auto}
.sidenav li span:last-child i{ font-style:normal}
.sidenav li.active span:last-child:hover i{text-decoration:underline}
.sicon{background:url(../images/slide-icon.png) no-repeat; width:32px; height:29px; display:inline-block; vertical-align:middle; margin-right:15px;}
.impo-icon{background-position:0 0}
.cred-icon{background-position:0 -56px}
.run-icon{background-position:0 -103px}
.preq-icon{background-position:0 -151px}
.cont-icon{background-position:0 -200px}
.loan-icon{background-position:0 -247px}
/*.sidenav li:hover .impo-icon{background-position:-34px 0}
.sidenav li:hover .cred-icon{background-position:-34px -56px}
.sidenav li:hover .run-icon{background-position:-34px -103px}
.sidenav li:hover .preq-icon{background-position:-34px -151px}
.sidenav li:hover .cont-icon{background-position:-34px -200px}
.sidenav li:hover .loan-icon{background-position:-34px -247px}*/

.sidenav li.active .impo-icon{background-position:-67px 0}
.sidenav li.active .cred-icon{background-position:-67px -56px}
.sidenav li.active .run-icon{background-position:-67px -103px}
.sidenav li.active .preq-icon{background-position:-67px -151px}
.sidenav li.active .cont-icon{background-position:-67px -200px}
.sidenav li.active .loan-icon{background-position:-67px -247px}


/*Responsive for Ipad*/
@media (max-width: 991px){
.container {max-width: 990px;}
.header{text-align:center}
.header-title img{max-width:120px}
.header .text-right{text-align:center !important}
.navbar-light .navbar-nav .nav-item{padding-right:0px}
.header-title{font-size: 1.8rem;}
.navbar-collapse{position: absolute;width: auto;top: 100%;z-index: 9999;background: white;right: 0;left: 0;padding: 0 15px;}
.btn-default,.mb-xs-2{margin-bottom:1rem}
.header .form-inline{justify-content:left}
.header .navbar-collapse .form-inline{display:none}
/*Edit page */
.edit-tabs{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.edit-tabs .nav-item{border:1px solid #9b9b9b; margin-bottom:-1px; margin-right:-1px}
.column-box:first-child{margin-top:40px}
.fancybox-opened{width: 90% !important;}
.fancybox-inner{width: 100% !important;height: auto !important;}
.create-lead .default-input{width:50%}
#welcome-modal .modal-body {padding: 1rem 1.5em;}
#welcome-modal .gap40 {padding-left: 0px;padding-right: 0px;}
#welcome-modal table th {text-align:center}
#welcome-modal table label.ml-3{margin-left: 0.5rem !important;}
.trackable-form .mobile-gap{padding-left:15px;padding-right:15px}

}

span[contenteditable="true"]{border:1px solid #9b9b9b; padding:7px; color:#9b9b9b; }
span[contenteditable="true"] br,span[contenteditable="false"] br{display:none}

.editable-element {
  white-space: nowrap;
  text-overflow: ellipsis;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width: 100%;
  align-items: center;
}
.editable-element  .edit-item {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  margin-right: 10px;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.3;
}
.editbtn {
  background: url(../images/edit.svg) no-repeat;
  width: 28px;
  height: 19px;
  text-indent: -2500em;
  background-size: 16px;
  display:inline-block;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 10px;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  visibility:hidden;
  position: relative;
  left: 30px;
  margin-left: -30px;
}

.default-list li:hover .editbtn,.edit_item:hover .editbtn{display:inline-block; visibility:visible}
.editable-element.visible .editbtn{display:none !important}
.edit_item.visible .editbtn{display:block !important; font-size:0}
.userinfo:after{content:':'}
.editable-element.visible .userinfo:after{content:''}

[data-id="notification"] #secondaryEmail .col-md-7{max-width: 33.333333%;}
[data-id="notification"] #secondaryEmail .col-md-5{max-width: 25%;}
.edit_item{width:auto;position:relative; padding-left:30px; display:none; min-width:30px}
.edit_item.visible{display:block}
.edit_item .editbtn{font-size:0; position:absolute; left:0px;top:-4px;margin-right:0; margin-left:0; transform:rotate(-88deg);-webkit-transform:rotate(-88deg);}
.edit_item .edit-item{max-width:100%; padding:2px 0px; border-color:#ddd; margin-right:0; min-width:30px}
.visible-value{display:block}
.table-space-free tbody td:first-child{padding-left:0}


[data-title] {
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: 12px;
  left:14px;
  display: inline-block;
  padding: 10px 11px;
  border-radius: 2px;
  background: #fff;
  color: #1ea1b8;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  border:1px solid #e5e5e7;
  z-index:2
}

/*Edit page*/
.column-list{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-wrap: wrap;
flex-wrap: wrap;}
.column-list>li{width:46%; border-color:#e5e5e7}
.pt-6{padding-top:4rem}
.pb-6{padding-bottom:4rem}
.insidetab a.nav-link{font-family:Arial, Helvetica, sans-serif;padding: .5rem 1.5rem .5rem .5rem;}
.insidetab a.nav-link:after{margin-left: 25px; font-size:16px;color:#9a9a9a}
.tabs-pane{display:none}
@media (min-width: 768px) {
  .pl-md-6{padding-left:2.6rem}
  .pr-md-6{padding-right:2.3rem}
}
.editable-items.editable-form input,.editable-items.editable-form .dropdown-small{pointer-events:none;font-size: 13px;border-color:transparent;cursor:default; background:transparent; text-align:right; padding-right:0}
.editable-items.editable-form .select{cursor:default}
.editable-items li{border-color:#e5e5e7}

.editfield {
  background: url(../images/edit.svg) no-repeat;
  width: 28px;
  height: 19px;
  text-indent: -2500em;
  background-size: 16px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 10px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  display:none;
  position: absolute !important;
  left: -30px;
  top:0
}
.editfield.hidden{display:none !important}
.editable-items li span:last-child{position:relative}
.right{right:0}
.top{top:0}
.saveform{position:absolute; right:0; top:0; display:none}
.saveform.show{display:block}

/*Responsive for mobile*/
@media (max-width: 640px){
.login {padding: 15px;}
.login-bg{background-size:cover}
.login .medium{font-size:25px;}
.login-wrap{padding: 22px;margin-top:40px;}
.login-strip .medium{font-size:19px;}
.btn-default + .btn-default{margin-left:0; margin-right:12px;}
.btn-default{margin-right:12px;}
.table-responsive-lg,.table-responsive,.table-responsive-md{white-space:nowrap}
.styled {margin-top: 10px;}
.wrap-outer{background-size: 120px;}
.trackable-form .field-item{width: 90%;}
.mobile-view-full {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.mobile-view-full .default-input{width:95% !important}
.gap-xs .default-select-small{margin-bottom:12px}
.gap-xs .btn{margin-bottom:12px}
}

@media (max-width: 575px){
.notification-list{min-width:inherit}
.mb-xs-3{margin-bottom: 3rem !important;}
.btn-default,.mb-xs-2{margin-bottom:1rem}
.xs-center{text-align:center !important}
.btn-default + .btn-default {margin-left: 0px;margin-right: 5px;}

/*Title*/
.large-title {font-size: 1.9rem; display:flex;display:-webkit-flex;align-items: center; justify-content: center;}
.progress-bar-edit{font-size: 11px;}
.h1, h1 {font-size: 1.95rem;}
.h2, h2 {font-size: 1.7rem;}
.nav-vertical li{width:100%; display:block}
.nav-vertical li a.nav-link{padding: .5rem 0rem;}
.field-item {margin: auto;}
.column-box{padding: 15px;}
.accordion-header{font-size: 1.2rem;}
.accordion-header>img{width: 35px;}
.create-lead .default-input{width:100%}
.step-item.gap40{padding-top:40px !important}
.comiseo-daterangepicker-main.ui-widget-content .comiseo-daterangepicker-presets{position:static}
.comiseo-daterangepicker-presets .ui-menu{white-space:normal}
}
.pagination li{font-size:14px}
.pagination li .fa{font-size: 20px;line-height: 0.3;vertical-align: middle; }
.pagination li + li{margin-left:21px;color:#1ea2b7; font-weight:600}
.pagination li.disabled a{cursor:not-allowed;pointer-events:none; color:#b9b9b9}
.pagination li a{color:#9b9b9b}
.pagination li a:hover{color: #1ea2b7;}

.automation-active td:first-child{padding-left: .42rem;}
.automation-active td + td{padding-top: 1.2rem;}
.caller_image-wrap{position:relative; margin-bottom:25px; max-width:90px; margin:auto; display:block}
.yellow-border{border:3px solid #fdb719}
.caller-image{width:81px; height:81px; max-width:81px; max-height:81px; border-radius:100%; -webkit-border-radius:100%;}
.image-call{width:33px; height:33px; border-radius:100%;-webkit-border-radius:100%;background:#ffffff;border:1px solid #fdb719; text-align:center; line-height:33px;position:absolute; right:-1px; bottom:-10px}
/*.generate,.import{display:none}*/
.simple-dropdown .comiseo-daterangepicker-triggerbutton.ui-button{
  font-size:12px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;
  width: 172px;border-radius: 0; border-radius: 0;height: 27px;
}
.anlytics .comiseo-daterangepicker-main.ui-widget-content .comiseo-daterangepicker-presets{
  left: 25px;
  right: 25px;
  padding-left:0
}
.anlytics .comiseo-daterangepicker-main.ui-widget-content .comiseo-daterangepicker-presets .ui-menu-item div{
  padding: 8px 10px 10px;
  font-size: 12px;
}
.sweeping tr td:first-child{text-align:center}
.sweeping tr td:last-child,.sweeping tr th:last-child{text-align:right; padding-right:0}
.sweeping tbody tr:first-child td {padding-top: 20px;}
.sweeping tr td{padding-bottom:5px}
.accordions li.address-info{visibility:hidden; position:absolute; height:0}
.accordions li.activated{visibility:visible; position:relative; height:auto}
.customize,.active-toggle .expand{display:none}
.active-toggle .customize{display:inline-block}
.column-box .active-toggle .expand{display:block; visibility:hidden}
.hidden{display:none}
.border_bottom{border-bottom:1px solid #1ea1b8}
.generate-letter.gray,.inaccessible{cursor: default !important;pointer-events: none;}

.textarea-editor {
  height: 100px;
  padding: 1%;
  border: 1px solid #b9b9b9;
  border-radius: 0;
  word-wrap: break-word;
}
.attempt-wrap>.attempt-element:first-child .remove{display:none}
.remove{cursor:pointer}
.results .red{display:none}
.green-border{border-color:#1ea2b7}

.green-header{background:rgba(82,183,201,0.88); text-align:center; color:#fff; font-size:25px; padding:18px;font-family:'Open Sans Condensed', sans-serif}

.form-list{padding:0;font-size: 12px;list-style-type: none;font-family: Arial;font-weight: normal; list-style-type:none;margin-bottom: 0;padding-left: 5px;}
.form-list li{margin-bottom:8px}
.custom_radio i{border:1px solid #1da1b6; width:14px; height:14px; border-radius:100%;-webkit-border-radius:100%; display:inline-block; margin-left:5px;position:relative;vertical-align: middle;}
.custom_radio + .custom_radio{margin-left:10px}
.custom_radio input[type="radio"]{position:absolute; height:1px; width:1px; visibility:hidden}
.custom_radio input[type="radio"]:checked + i:before{content:''; width:8px; height:8px; background:#1da1b6; border-radius:100%; -webkit-border-radius:100%; left:2px; top:2px;position:absolute}
.custom_radio.unselected{display:none}
.custom_radio i{display:none}
.custom_radio.activated_radio i,.custom_radio.unselected.activated_radio{display:inline-block}
.custom_radio.selected{display:inline-block !important}
/*.custom_radio.selected i{display:none}*/
.custom_radio.activated_radio {display: inline-block !important;}
.table-space tr td{padding-top:20px; padding-bottom:20px; vertical-align:middle}
.table-space tr th + th + th,.table-space tr td + td + td{text-align:center}
.table-space td, .table-space th{border-top:0; border-bottom:1px solid #9b9b9b}
.noteditable .editfield{display: none !important}
.checkedit{display:none}
#editTab {
	max-width: 900px;
	margin: auto;
}
#editTab li:nth-child(4) a:after{border:0}
@media screen and (min-width: 681px){
	.showmobile{display:none !important}
}
@media screen and (max-width: 680px){
	.hidemobile{display:none !important}
	.showmobile{display:block}
	.slide-menu{bottom:0; left:5px; right:5px !important; top:auto;transform: translateY(0%);-webkit-transform: translateY(0%);-ms-transform: translateY(0%);}
	.sidenav{width:100%; display:-webkit-box;display:-ms-flexbox;display:flex;border-right:1px solid #1ea1b8;border-bottom:0; border-radius: 8px 8px 0 0px;-webkit-border-radius: 8px 8px 0 0px;overflow:hidden}
	.sidenav li{display:inline-block; width:16.66%; text-align:center; padding-left:0; padding-right:0; border-bottom:0; border-right:1px solid #1ea1b8;}
	.sidenav li span{margin:auto;display:block}
	.sidenav li span + span{width:auto}
	.pull-button{display:none}
	
	table.mobileview th + th + th,table.mobileview td + td + td {
		display: none;
	}
	table.mobileview th:last-child,table.mobileview td:last-child {
		display: table-cell;
	}
}


.table td.mat-cell{padding: .72rem; font-size:12px; font-family:Arial, Helvetica, sans-serif}

.list-view .mat-select{border: 1px solid #b9b9b9; font-family:Arial, Helvetica, sans-serif;padding: 2px 4px 2px 3px;}
.list-view .mat-select-arrow{border-top: 8px solid;}
.mat-paginator .mat-paginator-container {justify-content: space-between; flex-flow: row-reverse;}
.mat-paginator .mat-paginator-container .mat-paginator-range-label {margin: 0 32px 0 0;}
.mat-paginator .mat-paginator-range-label{color: #1ea2b7;font-weight: 600;}
.mat-paginator .mat-paginator-icon{width: 23px;}
.mat-form-field .mat-form-field-infix{border:1px solid #ced4da;border-radius: .25rem;-webkit-border-radius: .25rem;height: 22px;}
.mat-form-field .mat-form-field-wrapper .mat-form-field-underline{height:0}
.mat-form-field .mat-form-field-wrapper .mat-form-field-label {top: 1.18125em;left: 0.68125em;}
.mat-form-field .mat-input-element{padding-left:10px}
.mat-form-field-appearance-legacy .mat-form-field-ripple{height:0 !important}

/*.sweeping tr td label{margin-bottom:0.2em}*/
/*Footer*/
#footer{background:url(../images/footer.jpg) no-repeat; background-size:cover;min-height:244px; margin-top:80px}
.footer-nav{background:rgba(255,255,255,0.72); padding-top:15px; padding-bottom:15px;font-family: 'Open Sans Condensed', sans-serif; font-size:17px; margin-bottom:18px}
.footer-nav li a{font-weight:700;color:#1ea2b7}
.footer-nav li a:hover{color:#fdb719}
.footer-nav li a span{color:#fdb719; margin-left:5px}
.footer-nav li a:after {content: '';border-right: 2px solid;height: 17px;margin-left: 22px;font-size: 16px;display: inline-block;vertical-align: middle;}
.footer-nav li:last-child a:after{border:0; margin:0}
