.edit-icon{
    display: none;
}
.editable-items.editable-form li:hover .edit-icon{
    display: inline-block;
}
.custom-select{
    border: 0;
    -webkit-appearance: none;
    color: #1ea1b8;
    pointer-events: none;
}
.edit-active.editable-fields .custom-select{
    padding: 7px 4px;
    width: 100%;
    pointer-events: all;
    cursor: pointer;
    border: 1px solid #e4e5e7;   
}
.custom-select-container{
    width: 180px;
}