.loader-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    .loader {
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -wekit-transform: translate(-50%, -50%);
        z-index: 10000;
        .spinner {
            height: 70px;
            width: 70px;
            animation: rotate 1s infinite linear;
            border: 8px solid #f05f40;
            border-right-color: transparent;
            border-radius: 50%;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}