<footer id="footer">
    <ul class="nav justify-content-center footer-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home" href="javascript:void(0)">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="opportunities.html">Opportunities<span>(11)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/borrower-pipeline"  href="javascript:void(0)">
            Borrower Pipeline<span>(4)</span>
            </a>        
        </li>
        <li class="nav-item">
            <a class="nav-link" href="analytics.html">Analytics</a>
        </li>
        </ul>
        <div class="text-center"><a routerLink="/home" href="javascript:void(0)"><img src="assets/images/footer-logo.png" alt="" /></a></div>
    </footer>