<div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
    <!--div class="text-right"><a href="#" class="btn btn-site generate"><i class="fa fa-plus"></i> New</a><a href="#" class="btn btn-site import"><i class="fa fa-plus"></i> Import</a></div-->
  <div class="row  mt-3 mb-2">
      <div class="col-sm-7 gray"><strong>Show</strong> <select class="default-select-small gray"><option>10</option><option>20</option><option>50</option><option>100</option><option>200</option></select><strong>entries of 7 total records</strong> (<a href="#" class="text11 gray" data-toggle="modal" data-target="#customizeColumns">customize columns</a> | <a href="#" class="text11 gray">default sort</a>)</div>
      <div class="col-sm-5">
        <form class="form-inline my-2 my-lg-0 justify-content-end">
                  <span class="my-2 my-sm-0 gray bold">Search </span>
            <input class="form-control ml-sm-3 search-textbox" type="search" placeholder="Search" aria-label="Search" />      
          </form>
      </div>
  </div>
  <div class="table-responsive-lg">
  <table class="table table-bordered  unbreak" style="width:100%">
          <thead>
              <tr>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      First Name
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Last Name
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Lead Source
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Loan Purpose
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Lead Type
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Date Received                                        
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="arrodown" width="12"><path fill="currentColor" d="M176 32h96c13.3 0 24 10.7 24 24v200h103.8c21.4 0 32.1 25.8 17 41L241 473c-9.4 9.4-24.6 9.4-34 0L31.3 297c-15.1-15.1-4.4-41 17-41H152V56c0-13.3 10.7-24 24-24z" class=""></path></svg>
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> New to Old</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i>Old to New</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-circle"></i> Clear Filter</a>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-divider"></div>
                      <input type="text" class="default-input default-color full text12" placeholder="Search here" />
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Price Range
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th>
                  <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Assigned Agent
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-circle"></i> Clear Filter</a>
                      <div class="dropdown-divider"></div>
                      <input type="text" class="default-input default-color full text12" placeholder="Search here" />
                    </div>
                  </div></th>
                  <th> 
                    <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sales Stage
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div>
                  </th>
                  <th>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          State
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                        </div>
                      </div>
                  </th>
                  <th>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Take Action
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                        </div>
                      </div>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Charlotte</td>
                  <td>Wright</td>
                  <td>Website</td>
                  <td>Refinancing</td>
                  <td>Quote</td>
                  <td>03/30/2018  |  04:01PM</td>
                  <td>$285,000</td>
                  <td>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alice Sample-Tester
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td><div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Uncontacted
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#uncontactedModal">Uncontacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactAttempted">Contact Attempted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactedMove">Contacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#appCompleted">Converted to Application</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#archiveMove">Archive</a>
                    </div>
                  </div></td>
                  <td>TX</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
              <tr>
                  <td>Mary</td>
                  <td>Higgins</td>
                  <td>Paid Lead Source 2</td>
                  <td>Refinancing</td>
                  <td>Abandoned App</td>
                  <td>05/07/2018  |  03:00AM</td>
                  <td>$320,000</td>
                  <td>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Brian Apunda
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td>
                      Uncontacted
                    </td>
                  <td>AL</td>
                  <td><a href="#" class="btn-site" data-title="View Contact"><span class="ti eye"></span></a><a href="mailto:stephbrown6714@gmail.com" class="btn-site"  data-title="Send Email to Originator"><span class="ti mail"></span></a></td>
              </tr>
              <tr>
                  <td>Charlotte</td>
                  <td>Wright</td>
                  <td>Website</td>
                  <td>Refinancing</td>
                  <td>Quote</td>
                  <td>03/30/2018  |  04:01PM</td>
                  <td>$285,000</td>
                  <td>
                  <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alice Sample-Tester
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td><div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Uncontacted
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#uncontactedModal">Uncontacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactAttempted">Contact Attempted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactedMove">Contacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#appCompleted">Converted to Application</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#archiveMove">Archive</a>
                    </div>
                  </div></td>
                  <td>TX</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
              <tr>
                  <td>Kyle</td>
                  <td>Brower</td>
                  <td>Branch Boost</td>
                  <td>Refinancing</td>
                  <td>Quote</td>
                  <td>05/13/2018  |  02:32PM</td>
                  <td>$180,000</td>
                  <td>
                  <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Brian Apunda
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td>Uncontacted</td>
                  <td>AL</td>
                  <td><a href="#" class="btn-site" data-title="View Contact"><span class="ti eye"></span></a><a href="mailto:stephbrown6714@gmail.com" class="btn-site"  data-title="Send Email to Originator"><span class="ti mail"></span></a></td>
              </tr>
              <tr>
                  <td>Judith</td>
                  <td>Dignan</td>
                  <td>Website</td>
                  <td>Purchasing</td>
                  <td>Call Back Request</td>
                  <td>05/23/2018  |  01:47PM</td>
                  <td>$225,000</td>
                  <td>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Jeff Brown
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td>Uncontacted</td>
                  <td>MO</td>
                  <td><a href="#" class="btn-site" data-title="View Contact"><span class="ti eye"></span></a><a href="mailto:stephbrown6714@gmail.com" class="btn-site"  data-title="Send Email to Originator"><span class="ti mail"></span></a></td>
              </tr>
              <tr>
                  <td>Craig</td>
                  <td>Elroy</td>
                  <td>Website</td>
                  <td>Purchasing</td>
                  <td>Abandoned Quote</td>
                  <td>05/30/2018  |  08:26AM</td>
                  <td>$120,000</td>
                  <td>
                  <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alice Sample-Tester
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td>
                  <td><div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Uncontacted
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#uncontactedModal">Uncontacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactAttempted">Contact Attempted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactedMove">Contacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#appCompleted">Converted to Application</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#archiveMove">Archive</a>
                    </div>
                  </div></td>
                  <td>TX</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
              <tr>
                  <td>Franklin</td>
                  <td>Wright</td>
                  <td>Paid Lead Source 1</td>
                  <td>Purchasing</td>
                  <td>Quote</td>
                  <td>06/03/2018  |  11:50AM</td>
                  <td>$320,000</td>
                  <td>
                  <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alice Sample-Tester
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                            <a class="dropdown-item" href="#">Alice Sample-Tester</a>
                          <a class="dropdown-item" href="#">Jeff Brown</a>
                          <a class="dropdown-item" href="#">Brian Apunda</a>
                          <a class="dropdown-item" href="#">Quang Dangtran</a>
                          <a class="dropdown-item" href="#">Michael Bull</a>
                        </div>
                      </div>
                  </td><td><div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Uncontacted
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#uncontactedModal">Uncontacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactAttempted">Contact Attempted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactedMove">Contacted</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#appCompleted">Converted to Application</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#archiveMove">Archive</a>
                    </div>
                  </div></td>
                  <td>TX</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
            </tbody>  
      </table>
   </div>   
   <ul class="pagination">
      <li class="disabled"><a href="#">|<i class="fa fa-angle-left"></i></a></li>
      <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li>1-7 of 7</li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>|</a></li>
      
  </ul>
</div>