<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group> -->
  

<section class="content_section1">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12 mt-4">
                     <div class="section-icon"><img src="assets/images/borrower.png" alt="" /></div>
                    <h1 class="default-color mb-sm-4 medium mt-2">Borrower Pipeline</h1>					
                </div>
            </div>

            <div class="clearfix">			   
                    
                    <ul class="nav nav-tabs justify-content-center tab-nav seprator-nav mb-3" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" id="submission-tab" data-toggle="tab"  routerLink="/borrower-pipeline/pre-submission" routerLinkActive="active" href="javascript:void(0)" role="tab" aria-controls="submission" aria-selected="true">Pre-Submission <span>(1)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="underwriting-tab" data-toggle="tab" routerLink="/borrower-pipeline/underwriting" routerLinkActive="active" href="javascript:void(0)" role="tab" aria-controls="underwriting" aria-selected="false">Underwriting <span>(1)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="closing-tab" data-toggle="tab" routerLink="/borrower-pipeline/closing" routerLinkActive="active" href="javascript:void(0)" role="tab" aria-controls="closing" aria-selected="false">Closing <span>(2)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="funded-tab" data-toggle="tab" routerLink="/borrower-pipeline/funded" routerLinkActive="active" href="javascript:void(0)" role="tab" aria-controls="funded" aria-selected="true">Funded</a>
                      </li>                      
                      <li class="nav-item">
                        <a class="nav-link" id="view-tab" data-toggle="tab" routerLink="/borrower-pipeline/view-all" routerLinkActive="active" href="javascript:void(0)" role="tab" role="tab" aria-controls="view" aria-selected="false">View All</a>
                      </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        <router-outlet></router-outlet>
                    </div>
                    
            </div>		
        </div>
    </section>
    
    
    
    <section class="content_section hide">
        <div class="container small-container">  
           <div class="text-center">  	
                <div class="default-color mb-sm-4 medium mt-2"><img src="assets/images/men.png" alt="" /></div>
                <h1 class="default-color mb-sm-4 medium mt-2">Create New Lead</h1>  
            </div>   
            <form class="create-lead" id="createLead">
            <div class="row mt-5 seprator">
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">First Name<span class="error">*</span></label>
                        <input type="text" class="default-input static-w172 default-color" />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Last Name<span class="error">*</span></label>
                        <input type="text" class="default-input static-w172 default-color" />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Email Address</label>
                        <input type="email" class="default-input static-w287 default-color" name="email" required />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Mobile</label>
                        <input type="tel" class="default-input static-w172 phone default-color" name="phone" id="phone" required />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Office Phone</label>
                        <input type="text" class="default-input static-w172 phone default-color" name="ofphone" id="ofphone" />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Primary Address</label>
                        <input type="text" class="default-input static-w287 default-color" />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Primary City</label>
                        <input type="text" class="default-input static-w172 default-color" name="city" id="city" required />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Primary State</label>
                        <select class="default-input static-w172 default-select-large">
                            <option value="select">Select</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Primary Zip Code</label>
                        <input type="text" class="default-input static-w85 zipcode default-color" maxlength="5"  required/>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Looking To...</label>
                        <select class="default-input static-w172 default-select-large">
                            <option>Select</option>
                            <option>Purchasing a Home</option>
                            <option>Refinancing a Home</option>
                            <option>Partnering with You and Something Else</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Assigned Agent<span class="error">*</span></label>
                        <select class="default-input static-w287 default-select-large">
                            <option>Select</option>
                            <option>Alice Sample-Tester</option> <option>Brian Apunda</option> <option>Michael Bull</option> <option>Quang Dangtran</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Lead Source</label>
                        <select class="default-input static-w287 default-select-large">
                            <option>Select</option>
                            <option>Phone Call</option> 
                            <option>Text</option> 
                            <option>Email</option> 
                            <option>LinkedIn</option> 
                            <option>Facebook</option> 
                            <option>LinkedIn</option> 
                            <option>Twitter</option> 
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Military Veteran?</label>
                        <select class="default-input static-w287 default-select-large">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Price Range</label>
                        <input type="text" class="default-input static-w172 default-color" />
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Looking for Home In...</label>
                        <select class="default-input static-w287 default-select-large">
                            <option value="select">Select</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                     <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Residence Use</label>
                       <select class="default-input static-w172 default-select-large">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Description</label>
                        <textarea class="default-input static-w287 noresize" style="height:108px">
                            
                        </textarea>
                    </div>
                     <div class="form-group col-md-6 space-btm22">
                        <label class="label-text">Lead Status<span class="error">*</span></label>
                        <select class="default-input static-w172 default-select-large">
                            <option>Select</option>
                        </select>
                    </div>
                </div>    
            <div class="row">
                <div class="text-center col-sm-12 mt-4">
                    <a href="#" class="btn btn-site mr-2 align-bottom generate">Go Back</a>
                     <button type="submit" class="btn btn-site mr-2 align-bottom">Create Lead</button>
                   <!-- <button type="button" class="btn btn-site mr-2 align-bottom" data-toggle="modal" data-target="#leadsuccess">Create Lead</button>-->
                </div>
            </div>
            </form>    
                  
        </div>
    </section>
    
    
    
    <section class="import_section hide">
        <div class="container">
            <div class="text-center">  	
                <div class="default-color mb-sm-4 medium mt-2"><img src="assets/images/leaders.png" alt="" /></div>
                <h1 class="default-color mb-sm-4 medium mt-2">Import Leads</h1>  
            </div>   
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <p class="default-color">You can import any number of leads or funded loans into your CRM.  Simply choose the right import template, place your information  into the template and send this modified document to marketing@southwestfunding.com. We'll quickly review and upload your leads into your CRM.</p>
                </div>
            </div>
            
            <div class="clearfix justify-content-center text-center default-color mt-4">
                <div class="d-inline-block mr-2">
                    <p><img src="assets/images/non-funded.png" alt="" /></p>
                    <p>Non-Funded Leads</p>
                    <a href="#" class="btn btn-site lg-btn">Download Import Template</a>
                </div>
                <div class="d-inline-block">
                    <p><img src="assets/images/funded.png" alt="" /></p>
                    <p>Funded Customers</p>
                    <a href="#" class="btn btn-site lg-btn">Download Import Template</a>
                </div>
            </div>
             <div class="clearfix justify-content-center text-center mt-4">
                 <a href="#" class="btn btn-site lg-btn import">Back</a>
             </div>
            
        </div>
    </section>
    