
<section>
	<div class="container">
			<button class="btn btn-primary" (click)="open(content)">Launch demo modal</button>
		<div class="row">
			<div class="text-center col-sm-12">
				  <div><img src="assets/images/punch.jpg" alt="" /></div>
					<h1 class="default-color mb-sm-4">Good Morning Alice. Let's Take On The Day!</h1>
					<h2 class="gray">Here's a Snapshot of Where Your Branch Is This <span class="d-inline-block gray select_large bold"><select class="gray custom"><option>Month</option><option>Quarter</option><option>Year</option></select></span></h2>
			</div>
		</div>
		<div class="row text-center">
				<div class="col-sm-3 mt-5"><div class="title-small text-bold default-color">Fundings</div><div class="small-icon"><img src="assets/images/home.jpg" alt="" /></div><div class="yellow text-bold medium">6</div></div>
				<div class="col-sm-3 mt-5"><div class="title-small text-bold default-color">Loan Volume</div><div class="small-icon"><img src="assets/images/value.jpg" alt="" /></div><div class="yellow text-bold medium">$1,250,000</div></div>
				<div class="col-sm-3 mt-5"><div class="title-small text-bold default-color">Submissions</div><div class="small-icon"><img src="assets/images/submission.jpg" alt="" /></div><div class="yellow text-bold medium">25</div></div> 	
				<div class="col-sm-3 mt-5"><div class="title-small text-bold default-color">Re-Subs Per File</div><div class="small-icon"><img src="assets/images/home.jpg" alt="" /></div><div class="yellow text-bold medium">2.3</div></div>
				<div class="col-sm-3 mt-5 mb-sm-4"><div class="title-small text-bold default-color">Suspended Files</div><div class="small-icon"><img src="assets/images/suspended.jpg" alt="" /></div><div class="yellow text-bold medium">2</div></div>
				<div class="col-sm-3 mt-5 mb-sm-4"><div class="title-small text-bold default-color">Hard Credit Pulls</div><div class="small-icon"><img src="assets/images/credit-card.png" alt="" /></div><div class="yellow text-bold medium">45</div></div>
				<div class="col-sm-3 mt-5 mb-sm-4"><div class="title-small text-bold default-color">Lock Pull-Through Rate</div><div class="small-icon"><img src="assets/images/lock.jpg" alt="" /></div><div class="yellow text-bold medium">90%</div></div>
				<div class="col-sm-3 mt-5 mb-sm-4"><div class="title-small text-bold default-color">Pricing Concessions</div><div class="small-icon"><img src="assets/images/pricing.jpg" alt="" /></div><div class="yellow text-bold medium">1 | $2,500</div></div>
		</div>
		<hr class="mt-sm-5 mb-sm-5" />
		
		<div class="row">
			<div class="text-center col-sm-12 mt-sm-3 mb-sm-5">
				  <div><span class="btn" data-toggle="modal" data-target="#listmodal"><img src="assets/images/list.jpg" alt="" /></span></div>
					<div class="default-color large-title">Your To-Do List</div>
					<h2 class="gray">Helping You Rock and Roll</h2>
			</div>
		</div>
		<div class="row">
			  <div class="col-lg-6">
                  <app-home-todo-opportunities></app-home-todo-opportunities>
			  </div>
			  <div class="col-lg-6">
				    <app-home-todo-pipeline></app-home-todo-pipeline>
            </div>
		</div>
	</div>
</section>

<ng-template #content let-modal>
		<div class="modal-content">
				<div class="modal-header nospace noborder">
				 <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>-->
				</div>
				<div class="modal-body">
					<div class="wrap-outer nextElements">
					
						<div class="text-center pt-2 pb-4 gap40 step-item">
						  <div class="mt-5">
							  <img src="images/welcome-image.png" alt="" />
						  </div>
						  <div class="default-color medium text-center mt-4 mb-4">Welcome to Your New Origination Platform</div>
						  <p class="text-center default-color">We're excited for you to dive into our new origination platform. However! Before you dive into anything, let's finalize some details</p>
						  
						  <a href="#" class="btn btn-site static-w96 lg-btn next">Next</a>
						 </div>
						 
						 
						<div class="text-center pt-2 pb-4 gap40 step-item" style="display:none">
						  <div class="mt-5">
							  <img src="images/image_rp.png" alt="" />
						  </div>
						  <div class="gray medium text-center mt-4 mb-4">Reset Password</div>
						  <form id="resetpassword">
							<div class="justify-content-center row pb-3">
							
								<div class="col-sm-6 col-md-5 pr-1 pl-1">
								  <label class="default-color bold">New Password</label>
								  <input type="password" id="newpassword" name="newpassword"  class="default-input block default-color text-center" />
							  </div>
							  <div class="col-sm-6 col-md-5 pr-1 pl-1">
								  <label class="default-color bold">Confirm Password</label>
								  <input type="password" id="confirm_password" name="confirm_password" class="default-input block default-color text-center" />
								 
							  </div>
							
							</div>
							</form>
							<!-- <p class="error">passwords do not match</p>
							 <p class="error">must be at least 8 characters and include one special character !@#$</p>-->
						  <p class="text-center default-color">It looks like you logged in with your temporary password. That means you're going to need to enter a new password. Make sure it's at least 8 characters and has a special character like !@#$</p>
						  
						  
						  <a href="#" class="btn btn-site static-w96 lg-btn next">Next</a>
						 </div> 
						 
						<div class="text-center pt-2 pb-4 gap40 step-item" style="display:none">
						  <div class="mt-5">
							  <img src="images/plug.png" alt="" />
						  </div>
						  <div class="gray medium text-center mt-4 mb-4">Connections</div>
						  <p class="text-center default-color">This origination platform integrates with Calyx Point, your website, Optimal Blue, your credit provider and more. Take a moment to hook into your services to make this experience much more powerful.</p>
						   <div class="text-left">
						   <form class="form">
							   <fieldset class="fieldset">
							  <h4 class="default-color title-small mb-3">Time Zone</h4>
							  <div class="form-group align-items-center"><label class="label-field d-inline-flex">Select One</label> <div class="d-inline-flex"><div class="select_large static-width  default-color"><select class="custom  dropdown-small">
							  <option>Central Time</option>
							  <option>Eastern Time</option> 
							  <option>Mountain Time</option> 
							  <option>Pacific Time</option>
							  </select></div></div></div>
							  </fieldset>
							  
							   <fieldset class="fieldset">
							  <h4 class="default-color title-small mb-3">Credit Provider</h4>
							  <div class="form-group align-items-center mb-3"><label class="label-field d-inline-flex">Select One</label> <div class="d-inline-flex"><div class="select_large static-width default-color bordered-list"><select class="custom  dropdown-small">
							  <option>Select One</option> 
							  <option>Accurate Financial Services</option> 
							  <option>ACRAnet Inc.</option> 
							  <option>Advantage Credit Bureau</option> 
							  <option>Advantage Credit Inc</option> 
							  <option>Advantage Plus Credit</option> 
							  <option>Alliance 2020 Alliance Credit</option> 
							  <option>American Reporting Company (ARC)</option> 
							  <option>Avantus</option> 
							  <option>Birchwood Credit Services Inc.</option> 
							  <option>CBCInnovis</option> 
							  <option>CCR</option> 
							  <option>Certified Credit Link</option> 
							  <option>Certified Credit Reporting</option> 
							  <option>CIC Mortgage Credit Inc.</option> 
							  <option>CIS</option> 
							  <option>CISCO</option> 
							  <option>Clear Choice Credit</option> 
							  <option>CoreLogic CREDCO</option> 
							  <option>Credit Data Solutions</option> 
							  <option>Credit Data Systems Inc</option> 
							  <option>Credit Information Systems</option> 
							  <option>Credit Link LLC</option> 
							  <option>Credit Plus Inc.</option> 
							  <option>Credit Quick Services</option> 
							  <option>Credit Technologies Inc</option> 
							  <option>CTI - Credit Technologies Inc</option> 
							  <option>Data Facts Inc.</option>
							  <option>Equifax Mortgage Web Services</option> 
							  <option>Factual Data Inc</option> 
							  <option>Funding Suite</option> 
							  <option>Information Searching Co.</option> 
							  <option>Informative Research Inc.</option> 
							  <option>MCB-Augusta</option> 
							  <option>MCB-Savannah</option> 
							  <option>MeridianLink Inc.</option> 
							  <option>MFI Credit Solutions</option> 
							  <option>NCO Credit Services</option> 
							  <option>Network Credit</option> 
							  <option>ONLINE Mortage Reports</option> 
							  <option>Partners Credit & Verification Sol.</option> 
							  <option>Premium Credit Bureau</option> 
							  <option>Premium Credit Bureau Data</option> 
							  <option>SARMA</option> <option>Sarma-MeridianLink</option> 
							  <option>SettlementOne</option> 
							  <option>Strategic Information Resources Inc.</option> 
							  <option>United One Resources</option> 
							  <option>Unversal Credit - National</option>
							  </select></div></div></div>     
							  
							  <!--<div class="form-group"><label class="label-field">Username</label> <input type="text" class="select-styled" /></div>
							  
							  <div class="form-group"><label class="label-field">Password</label> <input type="password" class="select-styled" /></div>
							  
							  <div class="form-group align-items-center"><label class="label-field d-inline-flex">Status</label> <div class="d-inline-flex"><div class="static-width"><input type="submit" class="btn-full btn btn-site radius5" value="Connect" /></div></div></div>-->
							  
							  </fieldset>
							  
							  <fieldset class="fieldset">
							  <h4 class="default-color title-small mb-3">Calyx Point Login Information</h4>
							  
							  <div class="form-group"><label class="label-field">Username</label> <input type="text" class="select-styled" /></div>
							  
							  <div class="form-group"><label class="label-field">Password</label> <input type="password" class="select-styled" /></div>
							  
							  <div class="form-group align-items-center"><label class="label-field d-inline-flex">Status</label> <div class="d-inline-flex"><div class="static-width"><input type="submit" class="btn-full btn btn-site radius5" value="Connect" /></div></div></div>
												  
							  </fieldset>
		  
							  <!--fieldset class="fieldset">
							  <h4 class="default-color title-small mb-3">Caylx Point</h4>
							  <div class="form-group align-items-center"><label class="d-inline-flex gray bold">Folder for Application Imports</label> <div class="d-inline-flex"><div class="select_large static-width"><input type="text" class="text-field" value="SWF 600" maxlength="3" style="width:80px" /> <a href="#" class="default-color">(check)</a> </div></div></div>
							  </fieldset-->
							  
							  <fieldset class="fieldset hide">
							  <h4 class="default-color title-small mb-3">Outlook Login Information</h4>
							  
							  <div class="form-group"><label class="label-field">Username</label> <input type="text" class="select-styled" /></div>
							  
							  <div class="form-group"><label class="label-field">Password</label> <input type="password" class="select-styled" /></div>
							  
							  <div class="form-group align-items-center"><label class="label-field d-inline-flex">Status</label> <div class="d-inline-flex"><div class="static-width"><input type="submit" class="btn-full btn btn-site radius5" value="Connect" /></div></div></div>
												  
							  </fieldset>
							  
							  <fieldset class="fieldset hide">
							  <h4 class="default-color title-small mb-3">Placing Phone Calls and Sending Texts</h4>
							  <p class="gray">When making personal calls ortexts from the CRM, the customer will see that it's from the following phone numbers below.</p>
							  <div class="form-group align-items-center row"><label class="d-inline-flex gray bold col-sm-7">For Sending Text Messages to Customers</label> <div class=" col-sm-5"><input type="text" class="text-field phone" id="phone" value="(555)555-5555" maxlength="10" /> <a href="#" class="default-color">(check)</a></div></div>
							  
							  <div class="form-group align-items-center row"><label class="d-inline-flex gray bold col-sm-7">For Making Phone Calls to Customers</label> <div class=" col-sm-5"><input type="text" class="text-field phone" value="(555)555-5555" maxlength="10" /> <a href="#" class="default-color">(check)</a></div></div>
								  
							  
												  
							  </fieldset>
							  
							  <fieldset class="fieldset">
							  <h4 class="default-color title-small mb-3">Optimal Blue Login Information</h4>
							  
							  <div class="form-group"><label class="label-field">Username</label> <input type="text" class="select-styled" /></div>
							  
							  <div class="form-group"><label class="label-field">Password</label> <input type="password" class="select-styled" /></div>
							  
							  <div class="form-group align-items-center"><label class="label-field d-inline-flex">Status</label> <div class="d-inline-flex"><div class="static-width"><input type="submit" class="btn-full btn btn-site radius5" value="Connect" /></div></div></div>
												  
							  </fieldset>
							  
						  </form>
						   </div>
						   
						  <a href="#" class="btn btn-site static-w96 lg-btn next">Next</a>
						 </div>
						
						
						<div class="text-center pt-2 pb-4 gap40 step-item" style="display:none">
						  <div class="mt-5">
							  <img src="images/lead-notification.png" alt="" />
						  </div>
						  <div class="gray medium text-center mt-4 mb-4">Lead Notifications</div>
						  <p class="text-center default-color">When a new lead comes in, how will you be notified? By phone, text, email or all the above? Set up how you want to be notified below (you can always adjust these in your 'Settings' area).</p>
						   <div class="text-left">
							<div class="fieldset">
								<h4 class="default-color title-small mb-3">Devices</h4>
							  
							 <div class="bold gray mb-3 row align-items-center"><div class="col-md-7">Primary Email for Notifications: <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What is this?</p><p>Your primary email for notification is your Southwest Funding email address.</p></div></div> <br /><a href="#" class="addmore" id="AddMoreFileBox">(add email)</a></div> <div class="col-md-5 default-color ligher">asample@southwestfunding.com</div> </div>
							 <div id="secondaryEmail">
							
							 
							 
							 
							 
							 </div>
							 <div class="bold gray mb-3 row align-items-center">
								   <div class="col-md-7">Primary Phone for Call Notifications: <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What is this?</p><p>The phone number you input in here will receive all phone notifications. These kinds of notifications will call your device and connect you to the customer.</p></div></div></div> 
								   <div class="col-md-5"><input class="default-input block default-color phone" type="text"  maxlength="10"  value="(214) 560-0209" /></div> 
							 </div>
							 
							 <div class="bold gray mb-3 row align-items-center">
									 <div class="col-md-7">Primary Phone for Text Notifications:
									  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What is this?</p><p>The phone number you input in here will receive all text notifications. These kindes of notifications will text your mobile device about the lead and what they're looking for.</p></div></div>
								  </div> 
								  
								  
									 <div class="col-md-5"><input class="default-input block default-color phone" type="text"  maxlength="10" value="(972) 838-6825" /></div> 
							 </div>
							 
										  
		  
						  </div>
							<div class="fieldset">
								<h4 class="default-color title-small mb-3">SMS (Text) and Phone Notifications</h4>
							  
							 <div class="bold gray mb-3">I’d like to receive phone calls that connect to leads between <div class="d-inline-flex default-color start-time"><select class="custom  dropdown-small"><option value="1">1:00AM</option><option value="2">2:00AM</option><option value="3">3:00AM</option><option value="4">4:00AM</option><option value="5">5:00AM</option><option value="6">6:00AM</option><option value="7" selected>7:00AM</option><option value="8">8:00AM</option><option value="9">9:00AM</option><option value="10">10:00AM</option><option value="11">11:00AM</option><option value="12">12:00PM</option><option value="13">01:00PM</option><option value="14">2:00PM</option><option value="15">3:00PM</option><option value="16">4:00PM</option><option value="17">5:00PM</option><option value="18">6:00PM</option><option value="19">7:00PM</option><option value="20">8:00PM</option><option value="21">9:00PM</option><option value="22">10:00PM</option><option value="23">11:00PM</option><option value="24">12:00AM</option><option value="24">1:00AM</option></select></div> and  <div class="d-inline-flex default-color end-time"><select class="custom  dropdown-small"><option value="1">1:00AM</option><option value="2">2:00AM</option><option value="3">3:00AM</option><option value="4">4:00AM</option><option value="5">5:00AM</option><option value="6">6:00AM</option><option value="7">7:00AM</option><option value="8">8:00AM</option>
		  <option value="9">9:00AM</option><option value="10">10:00AM</option><option value="11">11:00AM</option><option value="12">12:00PM</option><option value="13">1:00PM</option><option value="14">2:00PM</option><option value="15">3:00PM</option><option value="16">4:00PM</option><option value="17">5:00PM</option><option value="18" selected>6:00PM</option><option value="19">7:00PM</option><option value="20">8:00PM</option><option value="21">9:00PM</option><option value="22">10:00PM</option><option value="23">11:00PM</option><option value="24">12:00AM</option><option value="24">1:00AM</option></select></div></div>
							 
							 <div class="bold gray mb-3">I’d like to receive text messages with lead information between  <div class="d-inline-flex default-color start-time"><select class="custom  dropdown-small"><option value="1">1:00AM</option><option value="2">2:00AM</option><option value="3">3:00AM</option><option value="4">4:00AM</option><option value="5">5:00AM</option><option value="6">6:00AM</option><option value="7">7:00AM</option><option value="8">8:00AM</option>
		  <option value="9">9:00AM</option><option value="10">10:00AM</option><option value="11">11:00AM</option><option value="12">12:00PM</option><option value="13">01:00PM</option><option value="14">2:00PM</option><option value="15">3:00PM</option><option value="16">4:00PM</option><option value="17">5:00PM</option><option value="18">6:00PM</option><option value="19">7:00PM</option><option value="20">8.00PM</option><option value="21">9:00PM</option><option value="22">10:00PM</option><option value="23">11:00PM</option><option value="24">12:00AM</option></select></div> and  <div class="d-inline-flex default-color  end-time"><select class="custom  dropdown-small"><option value="1">1:00AM</option><option value="2">2:00AM</option><option value="3">3:00AM</option><option value="4">4:00AM</option><option value="5">5:00AM</option><option value="6">6:00AM</option><option value="7">7:00AM</option><option value="8">8:00AM</option>
		  <option value="9">9:00AM</option><option value="10">10:00AM</option><option value="11">11:00AM</option><option value="12">12:00PM</option><option value="13">1:00PM</option><option value="14">2.00PM</option><option value="15">3:00PM</option><option value="16">4:00PM</option><option value="17">5:00PM</option><option value="18">6:00PM</option><option value="19">7:00PM</option><option value="20">8:00PM</option><option value="21">9:00PM</option><option value="22">10:00PM</option><option value="23">11:00PM</option><option value="24">12:00AM</option><option value="24">1:00AM</option></select></div></div>
		  
						  </div>
						  <div class="fieldset">
						  <h4 class="default-color title-small mb-3">Incoming Leads</h4>
						  
						  <div class="row">
							  <div class="col-sm-12 col-md-12">
								  <table class="table table-borderless gray bold gray-table bordered-td table-space-free" style="width:100%">
									  <thead>
										  <tr>
											  <th width="60%">&nbsp;</th>
											  <th>Email</th>
											  <th>Text</th>
											  <th>Phone</th>
										  </tr>
									  </thead>
									  <tbody>
									  <tr>          
										  <td>Contact Form Leads <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Contact Form leads?</p><p>Contact Form leads are users who have visited your website or the corporate website and have filled out one of our short contact forms. These kinds of leads contain only a few pieces of contact information and give the potential customer the option to leave a note.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8?controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" /><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>
									  
									   <tr>
										  <td>Completed Application Leads <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Completed Application leads?</p><p>Completed Application leads are potential borrowers who have completed an application on your website or on the corporate website.</p><p>When they submitted, the also agreed to have their credit pulled. Feel free to pull their credit and import both their application and credit report into Point when you're ready!</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div></td>
		  
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>
									  
									   <tr>
										  <td>Abandoned Application Leads
										  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Abandoned Application Leads?</p><p>Potential borrowers who fill out an online application but do not finish it will be saved in the CRM as an abandoned application lead. This will only happen if the potential borrower's basic contact information is given before he or she abandons the application experience.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>
									  
									   <tr>
										  <td>Manually Added Leads  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Manually Added Leads?</p><p>Any lead that you creates in th CRM will be considered a 'Manually Added' lead.</p><p><strong>IMPORTANT NOTE:</strong> If you create a manual lead and assign it to yourself, you will not be notified. The notification preferences for manual leads are only for leads that are created and assigned to someone other than the creator of that lead.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr> 
									  
									  <tr>
										  <td>Miscellaneous Leads  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Miscellaneous Leads?</p><p>Miscellaneous leads are people that come into the system through some alternative or unidentified means not described by any other lead source.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>                           
		  
								  </table>
							  </div>
						  </div>
						  
						  </div>
						  
						  <div class="fieldset">
						  <h4 class="default-color title-small mb-3">Database Lead Generation</h4>
						  
						  <div class="row">
							  <div class="col-sm-12 col-md-12">
								  <table class="table table-borderless gray bold gray-table bordered-td table-space-free" style="width:100%">
									  <thead>
										  <tr>
											  <th width="60%">&nbsp;</th>
											  <th>Email</th>
											  <th>Text</th>
											  <th>Phone</th>
										  </tr>
									  </thead>
									  <tbody>
									  <tr>
										  <td>Trigger Leads  
											  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Trigger Leads?</p><p>Trigger leads are either potential or former customers who have recently inquired with a competitor for a home loan!</p><p>This means they are not only in the market, but are actively pursuing a loan without you. <br />Please get in contact with these leads as soon as you can.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>                            
									  <tr>
										  <td>Equity Leads
										  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Equity Leads?</p><p>Equity leads are former customers who now have some sizable equity in their home(at least 85% LTV)</p><p>This means they usually have refinance options available to them. It's a great opportunity to also check in with them about their financial needs.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" ><span class="check-item"></span></label></td>
									  </tr>                            
									  <tr>
										  <td>Credit Leads
											  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Credit Leads?</p><p>Credit leads are previously turned-down customers who have had poor credit (between 530 - 600 Experian) but who are now at a 620 or greater credit score position.</p><p>This is really positive news to relay to these individuals. It also means that they may now be ready to buy or refinance. Give them a ring!</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" ><span class="check-item"></span></label></td>
									  </tr>                            
									  <tr>
										  <td>Recent Listing Leads
										  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Recent Listing Leads?</p><p>Recent Listing leads are former customers who have recently listed their house on the MLS (i.e. they've listed their house for sale).</p><p>This probably means that they are already looking or are about to look for a home loan (not to mention a real estate agent). Give them a call as soon as you can!</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" ><span class="check-item"></span></label></td>
									  </tr>
									  <tr>
										  <td>Rate Leads
										  <div class="position-relative notepopup d-inline-flex"><span class="notification">i</span> <div class="popover default-color"><p class="bold">What are Rate Leads?</p><p>Rate leads are former customers who have funded with us at least a year ago who can now significantly befefit from current interest rate pricing.</p><p>This is a great piece of news to deliver to your customer. It can save them money per month and even open up the conversation for cash-out or purchase options.</p><!--<iframe width="100%" height="180" src="https://www.youtube.com/embed/BHE8Yre3Ex8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>--></div></div>
										  </td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
										  <td><label class="custom_check ml-1"><input type="checkbox" checked="checked" ><span class="check-item"></span></label></td>
									  </tr>                           
								  </table>
							  </div>
						  </div>                
						  </div>
						  
						  
						   </div>
						  <a href="#" class="btn btn-site static-w96 lg-btn back">Back</a>
						  <a href="#" class="btn btn-site static-w96 lg-btn next">Next</a>
						 </div> 
						 
						
						<div class="text-center pt-2 pb-4 gap40 step-item" style="display:none">
						  <div class="mt-5">
							  <img src="images/clock-icon.png" alt="" />
						  </div>
						  <div class="gray medium text-center mt-4 mb-4">Know Your Way Around</div>
						  <p class="text-center default-color">Since this is your first time seeing this new experience, check out the overview video! It's quick, to the point and highlights a lot of powerful new features. Enjoy!</p>
						  
						  <div class="mt-4 mb-4">
							  <!--img src="images/poster.jpg" class="img-fluid" alt="poster" /-->
							  <iframe width="100%" height="240" src="https://www.youtube.com/embed/mKt-MDwtVB4?rel=0" allowfullscreen></iframe>
						  </div>
						  <a href="#" class="btn btn-site static-w96 lg-btn back">Back</a>
						  <a href="#" class="btn btn-site static-w96 lg-btn next fbox-off">Next</a>
						 </div>
						 
						<div class="text-center pt-2 pb-4 gap40 step-item" style="display:none">
						  <div class="mt-5 pt-5">
							  <img src="images/car.png" alt="" />
						  </div>
						  <div class="gray medium text-center mt-4 mb-4">All Set. Let's Get Started</div>
						  <p class="text-center default-color mt-4 mb-4">If only we could put in the new car smell. We hope you love this new origination platform as much as we do. Enjoy the experience.</p>
						  <a href="#" class="btn btn-site static-w96 lg-btn next"  data-dismiss="modal">Let's Go!</a>
						 </div>
						 
					</div>
				</div>
				
			  </div>
  </ng-template>

