<div class="slide-menu">
        <a (click)="sideMenu()" href="javascript:void(0);" class="pull-button"><span></span></a>
        <ul class="sidenav">
                <li class="active">
                        <span class="sicon impo-icon"></span>
                        <span class="showmobile">Import</span>
                        <span class="hidemobile">Imported into Point?</span>
                        <span class="hidemobile">
                                <a href="#" data-toggle="modal" data-target="#importPoints">
                                        <i>(Import)</i>
                                </a>
                        </span>
                </li>
                <li>
                        <span class="sicon cred-icon"></span>
                        <span class="showmobile">Credit</span>
                        <span class="hidemobile">Credit Pulled?</span>
                        <span class="hidemobile">N/A</span>
                </li>
                <li>
                        <span class="sicon run-icon"></span>
                        <span class="showmobile">DU or LP</span>
                        <span class="hidemobile">DU or LP Run?</span>
                        <span class="hidemobile">N/A</span>
                </li>
                <li>
                        <span class="sicon preq-icon"></span>
                        <span class="showmobile">Letter</span>
                        <span class="hidemobile">Pre-Qualified?</span>
                        <span class="hidemobile">N/A</span>
                </li>
                <li>
                        <span class="sicon cont-icon"></span>
                        <span class="showmobile">Contract</span>
                        <span class="hidemobile">Contract Obtained?</span>
                        <span class="hidemobile">N/A</span>
                </li>
                <li>
                        <span class="sicon loan-icon"></span>
                        <span class="showmobile">Lock</span>
                        <span class="hidemobile">Loan Locked?</span>
                        <span class="hidemobile">N/A</span>
                </li>
        </ul>
</div>