
<div class="row">
        <div class="col-md-12">
                <a  routerLink="/home" routerLinkActive="horizontal-active-link" >Home</a> |         
                <a routerLink="/home/contact" routerLinkActive="horizontal-active-link" >Contact</a> |         
                <a routerLink="/" routerLinkActive="horizontal-active-link" >Login</a>
        </div>
</div>
    


