<div class="login-bg"></div>
<div class="login-wrap" id="login-container">
	<div class="text-center">
  	<div class="mb-3">
      	<img src="assets/images/briefcase.png" alt="" />
    </div>
    <h1 class="medium default-color mb-0">Southwest Funding</h1>
    <h1 class="medium yellow">Phoenix Origination Platform</h1>
    <div class="loginform logincontainer">
      <form name="form" (ngSubmit)="f.form.valid && onLoginSubmit()" #f="ngForm" novalidate>
    	<hr class="space30 bdr1 gray-bdr" />
      <div class="form-group text-left mt-4 default-color">

          <label class="labeltext">Username</label>
          <input type="text" class="form-control actions-email"  placeholder="example@southwestfunding.com" name="username" #username="ngModel" [(ngModel)]="user.username"  [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required email />
          
          <div *ngIf="username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required">User Name is required</div>
            <div *ngIf="username.errors.email">Email is not valid</div>
          </div>
      </div>
      <div class="form-group text-left mt-4 default-color">
          <label class="labeltext">Password</label>
          <!-- class="default-input gj-width-full input-field default-color default-place ar" -->
          <input type="password" class="form-control" placeholder="Password"  name="password"  [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required/>
          <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group text-left mt-4 default-color">
          <label class="custom_check"><input type="checkbox" /> <span class="check-item">Remember Me</span></label>                    
      </div>
      <div class="form-group mt-4 default-color">
          <button   type="submit" class="btn btn-site lg-btn static-width-4 login" >Login</button>
          <p class="mt-2"><a href="#" class="forgot-pw">forgot password</a></p>
      </div>
      </form>
      
    </div>
  </div>
</div>
<div class="login-strip">
	<div class="container d-flex text-center justify-content-center align-items-center">
     <div id="carouselExampleFade" class="carousel slide carousel-fade d-flex text-white justify-content-center align-items-center" data-ride="carousel">
        <div class="carousel-inner  text-white d-flex text-white justify-content-center align-items-center container">
           <div id="main-quote"  class="medium"></div>
        </div>
      </div>
  </div>
</div>