<div class="" id="cancelLoan" tabindex="-1" role="dialog" aria-labelledby="cancelLoan" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 580px;">
          <div class="modal-content">
            <div class="modal-header nospace noborder">
              <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text-center"><img src="./../../../../../assets/images/remove.png" alt="" /></div>
              <div class="medium gray text-center mt-2 mb-2">Cancel Loan Transaction?</div>
              <div class="text-center mt-2"><p class="default-color mb-4">By cancelling this loan transaction, Michael Solstace's loan status will be set to 'Withdrawn'.  This contact will also be moved to 'Archived' untill you start a new application or they submit something to you via the website.</p>
              <p class="default-color">If you are cancelling this loan, please keep in mind that the CRM is not responsible for doing any paperwork or following any process you are supposed to do when a loan is cancelled.  <br />Do you want to proceed?</p>
              
             
              </div>
              <div class="row">
                   <div class="col-sm-12 justify-content-center text-center mb-4">
                   <button type="button" class="btn btn-site radius md-btn mr-2" data-dismiss="modal">No</button>
                   
                   <button type="button" class="btn btn-site radius md-btn"  data-dismiss="modal"  data-toggle="modal" data-target="#cancelLoansuccess">Yes</button>
                    
                   </div>
              </div> 
            </div>      
          </div>
        </div>
      </div>
      