<h3 class="text-center mb-xs-3"><span class="default-color text_underline">Opportunities</span></h3>


<input type="text"    name="dates"  />
<input type="text"  class="datepicker" name="dates"  value="test"/>

                    <div class="spaceright">
					<div class="row">
						<div class="col-sm-6 col-6">
							<div class="dropdown">
									<button type="button" class="btn default-select2 default-color dropdown-toggle-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										View: <span class="small-text-circle">as</span>
									</button>
									<div class="dropdown-menu dropdown-large custom-dropdown"> <button type="button" class="close-dropdown-menu">
										x
									</button>
                                      <ul class="check-dropdown-in">
										<li class="dropdown-item"><div class="customcheck"><input type="checkbox" id="as" /><label for="as"><span class="small-text-circle">AS</span> Alice  Sample</label></div></li>
										<li class="dropdown-item"><div class="customcheck"><input type="checkbox" id="ba" /><label for="ba"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</label></div></li>
										<li class="dropdown-item"><div class="customcheck"><input type="checkbox" id="qd" /><label for="qd"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</label></div></li>
										<li class="dropdown-item"><div class="customcheck"><input type="checkbox" id="mb" /><label for="mb"><span class="small-text-circle">MB</span>Michael Bull</label></div></li>   
                                     </ul>                                       
									</div>
							</div>
						</div>
						<div class="col-sm-6 col-6">
                            
                        <div class="dropdown text-right xs-center dateselectdropdown">
                       	 	<input class="range btn default-select2  default-color dropdown-toggle-custom" type="text" />
						</div>
							
						</div>
					</div>
				    <ul class="default-list todo">
					<li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label><span class="edit-item userinfo" contenteditable="false">Michael Savage</span> <span class="edit-item" contenteditable="false">Call at <span class="text-contact">972-838-6825</span></span><span class="editbtn">Edit</span> </p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                        
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left dropnext" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color selected"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                        
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>			
					 </li>
					 <li>                     
                     <p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label><span class="edit-item userinfo" contenteditable="false">Ashley Varnum</span> <span class="edit-item" contenteditable="false">Call at <span class="text-contact">214-128-6781</span></span><span class="editbtn">Edit</span> </p>
                     
                     
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color selected"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        	</div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label><span class="edit-item userinfo" contenteditable="false">Greg Jennings</span> <span class="edit-item" contenteditable="false"> Call at <span class="text-contact">920-841-9818</span></span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Robert Mueller</span> <span class="edit-item" contenteditable="false"> Text at 972-366-0018</span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Kate Greene</span> <span class="edit-item" contenteditable="false"> Set a reminder to check back later tomorrow </span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Henry Rollins</span> <span class="edit-item" contenteditable="false"> Call at 772-412-1146</span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Sally Mae</span> <span class="edit-item" contenteditable="false"> Move to archive</span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>		
                     <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label><span class="edit-item userinfo" contenteditable="false">Michael Savage</span> <span class="edit-item" contenteditable="false">Call at <span class="text-contact">972-838-6825</span></span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>			
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Ashley Varnum</span> <span class="edit-item" contenteditable="false"> Call at 214-128-6781</span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                            <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>
					 <li><p class="editable-element"><span class="small-text-circle">AS</span><label class="custom_check mr-3"><input type="checkbox" /><span class="check-item"></span></label> <span class="edit-item userinfo" contenteditable="false">Greg Jennings</span> <span class="edit-item" contenteditable="false"> Call at 920-841-9818</span><span class="editbtn">Edit</span></p>
						<div class="dropdown right-dropdown">
									<a  href="#" role="button" class="dropdown-toggle-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="preview_date">Today</span>
									</a>
									<div class="dropdown-menu custom-dropdown dropdown-menu-right">
                                    <div class="calendar-modal custom-calendar">
                                        <p class="default-color small bold">Due Date</p>
                                    	<div class="future-datepicker"></div>
                                        
                                       <div class="row mt-4">
                                         <div class="col-md-12">
                                         	<p class="default-color small bold">Assigned</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn arrowdown default-select2 block gray noradius  text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <span class="default-color"><span class="small-text-circle">as</span> Alice Sample</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-large">
                                                  <ul class="check-dropdown-in">
                                                    <li class="dropdown-item"><span class="small-text-circle">AS</span> Alice  Sample</li>
                                                    <li class="dropdown-item"><span class="small-text-circle yellow-bg">BA</span>Brian Apunda</li>
                                                    <li class="dropdown-item"><span class="small-text-circle gray-bg">QD</span>Quang Dangtran</li>
                                                    <li class="dropdown-item"><span class="small-text-circle">MB</span>Michael Bull</li>   
                                                 </ul>                                       
                                                </div>
                                        </div>
                                        <p class="text-center pt-3 mb-0"><a href="#" data-toggle="modal" data-target="#deleteToDo" class="default-color">or delete to-do</a></p>
                                     	  </div> 
                                    	</div>                                  
									</div>
							       </div>	
                          </div>						
					 </li>			 
			  </ul>
              
                      <div class="row">
                      <div class="col-sm-6 default-color">
                      <strong>Show</strong> <select class="default-select-small default-color"><option>10</option><option>20</option><option>50</option><option>100</option><option>500</option></select><strong>rows</strong>
                      </div>
                      <div class="col-sm-6">
                       <ul class="pagination justify-end">
                            <li class="disabled"><a href="#">|<i class="fa fa-angle-left"></i></a></li>
                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li>1-10 of 35</li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>|</a></li>
                            
                        </ul>
                      </div>
                      </div>
                   </div>
			  <div class="text-center"><a href="#" class="btn btn-default lg-btn" data-toggle="modal" data-target="#todo"><i class="lnr-plus-circle lnr"></i> Add A To-Do</a><a href="#" class="btn btn-default lg-btn view-complete"><i class="lnr-checkmark-circle lnr"></i> <span>View Completed</span></a></div>
			  