<div class="tab-pane fade show active" id="underwriting" role="tabpanel" aria-labelledby="underwriting-tab">
    <!--div class="text-right"><a href="#" class="btn btn-site generate"><i class="fa fa-plus"></i> New</a><a href="#" class="btn btn-site import"><i class="fa fa-plus"></i> Import</a></div-->
  <div class="row  mt-3 mb-2">
      <div class="col-sm-7 gray"><strong>Show</strong> <select class="default-select-small gray"><option>10</option><option>20</option><option>50</option><option>100</option><option>200</option></select><strong>entries of 7 total records</strong> (<a href="#" class="text11 gray" data-toggle="modal" data-target="#customizeColumns">customize columns</a> | <a href="#" class="text11 gray">default sort</a>)</div>
      <div class="col-sm-5">
        <form class="form-inline my-2 my-lg-0 justify-content-end">
                  <span class="my-2 my-sm-0 gray bold">Search </span>
            <input class="form-control ml-sm-3 search-textbox" type="search" placeholder="Search" aria-label="Search" />      
          </form>
      </div>
  </div>
  <div class="table-responsive-lg">
  <table class="table table-bordered  unbreak" style="width:100%">
          <thead>
              <tr>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      First Name
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Last Name
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sales Stage
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Loan Number
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Loan Amount
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Loan Program
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  <th> <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Est. Closing Date
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div></th>
                  
                  <th> 
                    <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Status Date
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                    </div>
                  </div>
                  </th>
                  <th>
                  <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Assigned Agent
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-circle"></i> Clear Filter</a>
                      <div class="dropdown-divider"></div>
                      <input type="text" class="default-input default-color full text12" placeholder="Search here" />
                    </div>
                  </div></th>
                  
                  <th>
                      <div class="dropdown">
                        <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          State
                        </button>
                        <div class="dropdown-menu sort-dropdown">
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="#"><i class="fa fa-arrow-up"></i> Z-A</a>
                        </div>
                      </div>
                  </th>
                  <th>
                      Take Action
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>                              
                  <td>Abby</td>
                  <td>Jenkins</td>
                  <td>  
                   <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Assign to Underwriter
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#">Assign to Underwriter</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cancelLoan">Cancel Loan</a>
                    </div>
                    </div>
                  </td>
                  <td>0600192833</td>
                  <td>$250,000</td>
                  <td>FHA 30Yr Fixed</td>
                  <td>03/25/2019</td>
                  <td>01/25/2019</td>
                  <td>Alice Sample-Tester</td>
                  <td>TX</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
              <tr class="yellow">
                  <td>Edward</td>
                  <td>Witzler</td>
                  <td>
                      <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Approved
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#">Assign to Underwriter</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cancelLoan">Cancel Loan</a>
                    </div>
                    </div>
                  </td>
                  <td>0600192833</td>
                  <td>$310,000</td>
                  <td>Conv 30Yr Fixed</td>
                  <td>03/25/2019</td>
                  <td>01/25/2019</td>
                  <td>Alice Sample-Tester</td>
                  <td>AL</td>
                  <td><a href="edit.html" class="btn-site" data-title="View or Edit Contact"><span class="ti edit"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#callContact" data-title="Call Contact"><span class="ti call"></span></a>  <a href="mailto:stephbrown6714@gmail.com"  class="btn-site"  data-title="Email Contact"><span class="ti enevelop"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#note"  data-title="Create a Note"><span class="ti doc"></span></a><a href="#" class="btn-site" data-toggle="modal" data-target="#reminder" data-title="Set a Reminder"><span class="ti time"></span></a></td>
              </tr>
              <tr>
                  <td>Edgar</td>
                  <td>Hebron</td>
                  <td>
                  <div class="dropdown">
                    <button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Assign to Underwriter
                    </button>
                    <div class="dropdown-menu sort-dropdown">
                      <a class="dropdown-item" href="#">Assign to Underwriter</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cancelLoan">Cancel Loan</a>
                    </div>
                   </div>
                  </td>
                  <td>0600192833</td>
                  <td>$175,000</td>
                  <td>VA 30Yr Fixed</td>
                  <td>03/25/2019</td>
                  <td>01/25/2019</td>
                  <td>Brian Apunda</td>
                  <td>TX</td>
                  <td><a href="#" class="btn-site" data-title="View Contact"><span class="ti eye"></span></a><a href="mailto:stephbrown6714@gmail.com" class="btn-site"  data-title="Send Email to Originator"><span class="ti mail"></span></a></td>
              </tr>
           </tbody>
      </table>  
  </div>
  <ul class="pagination">
      <li class="disabled"><a href="#">|<i class="fa fa-angle-left"></i></a></li>
      <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li>1-10 of 10</li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>|</a></li>                        
  </ul>
</div>