<div class="tab-pane fade show active" id="presubmission" role="tabpanel" aria-labelledby="submission-tab">
  <!--div class="text-right"><a href="#" class="btn btn-site generate"><i class="fa fa-plus"></i> New</a><a href="#" class="btn btn-site import"><i class="fa fa-plus"></i> Import</a></div-->

  <div class="row  mt-3 mb-2">
    <div class="col-sm-7 gray">
      <!-- <strong>Show</strong> 
            <select class="default-select-small gray">
              <option>10</option><option>20</option><option>50</option><option>100</option><option>200</option>
            </select>
              <strong>entries of 7 total records</strong> (<a href="#" class="text11 gray" data-toggle="modal" data-target="#customizeColumns">customize columns</a> | <a href="#" class="text11 gray">default sort</a>) -->
    </div>
    <div class="col-sm-5">
      <form class="form-inline my-2 my-lg-0 justify-content-end">
        <span class="my-2 my-sm-0 gray bold"> </span>
        <!-- <input class="form-control ml-sm-3 search-textbox" type="search" placeholder="Search" aria-label="Search" />       -->
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="table-responsive-lg">
    <div class="default_table">
      <table mat-table matSort [dataSource]="dataSource" class="table table-bordered unbreak list-view mobileview"
        style="width:100%">

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            First Name
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                          <button mat-button class="dropdown-small"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            First Name
                          </button>
                          <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.firstName ? 'show':''}}">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                            <a class="dropdown-item" (click)="firstNameRef.value =''; applyFilter(firstNameRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                            <div class="dropdown-divider"></div>    
                            <input matInput #firstNameRef (keyup)="applyFilter(firstNameRef.value, 'firstName')" class="default-input default-color full text12" placeholder="Filter by name">                      
                          </div>
                      </div> -->
          </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Name
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                          <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Last Name
                          </button>
                          <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.lastName ? 'show':''}}">
                            <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                            <a class="dropdown-item" (click)="lastNameRef.value =''; applyFilter(lastNameRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                            <div class="dropdown-divider"></div>    
                            <input matInput #lastNameRef (keyup)="applyFilter(lastNameRef.value, 'lastName')" class="default-input default-color full text12" placeholder="Filter by name">                      
                          </div>
                      </div> -->
          </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Sales Stage  -->
        <ng-container matColumnDef="salesStage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sales Stage
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                        <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sales Stage 
                        </button>
                        <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.salesStage ? 'show':''}}">
                          <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                          <a class="dropdown-item" (click)="salesStageRef.value =''; applyFilter(salesStageRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                          <div class="dropdown-divider"></div>    
                          <input matInput #salesStageRef (keyup)="applyFilter(salesStageRef.value, 'salesStage')" class="default-input default-color full text12" placeholder="Filter by name">                      
                        </div>
                    </div> -->
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-select (selectionChange)="openDialog()">
              <mat-option *ngFor="let stage of element['salesStage']" [value]="stage.type">
                {{stage.type}}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Loan Amount  -->
        <ng-container matColumnDef="loanAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Loan Amount
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                      <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Loan Amount 
                      </button>
                      <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.loanAmount ? 'show':''}}">
                        <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                        <a class="dropdown-item" 
                            (click)="loanAmountFromRef.value =''; loanAmountToRef.value = ''; applyFilter(loanAmountFromRef.value)"  
                            href="javascript:void(0)"><i class="fa fa-circle"></i> 
                            Clear Filter</a>
                        <div class="dropdown-divider"></div>    
                        <ul class="form-list">
                          <li><span class="static-w35 d-inline-flex default-color">From</span> 
                              <input  matInput value="" #loanAmountFromRef (keyup)="applyAmountFilter(loanAmountFromRef.value,loanAmountToRef.value, 'loanAmount')" class="default-input gray col-8 text12" placeholder="Enter Amount" /></li>
                          <li><span class="static-w35 d-inline-flex default-color">To</span> 
                              <input matInput #loanAmountToRef value=""  (keyup)="applyAmountFilter(loanAmountFromRef.value,loanAmountToRef.value, 'loanAmount')" class="default-input gray col-8 text12" placeholder="Enter Amount" />
                          </ul>
                                           
                      </div>
                  </div> -->

          </th>
          <td mat-cell *matCellDef="let element"> {{element.loanAmount}} </td>
        </ng-container>

        <!-- Loan Program -->
        <ng-container matColumnDef="loanProgram">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Loan Program
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                      <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Loan Program 
                      </button>
                      <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.loanProgram ? 'show':''}}">
                        <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                        <a class="dropdown-item" (click)="loanProgramRef.value =''; applyFilter(loanProgramRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                        <div class="dropdown-divider"></div>    
                        <input matInput #loanProgramRef (keyup)="applyFilter(loanProgramRef.value, 'loanProgram')" class="default-input default-color full text12" placeholder="Filter by name">                      
                      </div>
                  </div> -->

          </th>
          <td mat-cell *matCellDef="let element"> {{element.loanProgram}} </td>
        </ng-container>

        <!-- Est Closing Date -->
        <ng-container matColumnDef="estClosingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Est Closing Date
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                        <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Est Closing Date 
                        </button>
                        <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.estClosingDate ? 'show':''}}">
                          <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                          <a class="dropdown-item" (click)="estClosingDateRef.value =''; applyFilter(estClosingDateRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                          <div class="dropdown-divider"></div>    
                          <input matInput #estClosingDateRef (keyup)="applyFilter(estClosingDateRef.value, 'estClosingDate')" class="default-input default-color full text12" placeholder="Filter by name">                      
                        </div>
                    </div> -->
          </th>
          <td mat-cell *matCellDef="let element"> {{element.estClosingDate}} </td>
        </ng-container>

        <!-- Prospect Date  mat-sort-header-->
        <ng-container matColumnDef="prospectDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Prospect Date
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                        <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Prospect Date
                        </button>
                        <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.prospectDate ? 'show':''}}">
                          <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                          <a class="dropdown-item" (click)="prospectDateRef.value =''; applyFilter(prospectDateRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                          <div class="dropdown-divider"></div>    
                          <input matInput #prospectDateRef (keyup)="applyFilter(prospectDateRef.value, 'prospectDate')" class="default-input default-color full text12" placeholder="Filter by name">                      
                        </div>
                    </div> -->

          </th>
          <td mat-cell *matCellDef="let element"> {{element.prospectDate}} </td>
        </ng-container>

        <!-- Status Date -->
        <ng-container matColumnDef="statusDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status Date
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                      <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status Date
                      </button>
                      <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.statusDate ? 'show':''}}">
                        <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                        <a class="dropdown-item" (click)="statusDateRef.value =''; applyFilter(statusDateRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                        <div class="dropdown-divider"></div>    
                        <input matInput #statusDateRef (keyup)="applyFilter(statusDateRef.value, 'statusDate')" class="default-input default-color full text12" placeholder="Filter by name">                      
                      </div>
                  </div> -->

          </th>
          <td mat-cell *matCellDef="let element"> {{element.statusDate}} </td>
        </ng-container>

        <!-- Assigned Agent -->
        <ng-container matColumnDef="assignedAgent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Assigned Agent
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                        <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Assigned Agent
                        </button>
                        <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.assignedAgent ? 'show':''}}">
                          <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                          <a class="dropdown-item" (click)="assignedAgentRef.value =''; applyFilter(assignedAgentRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                          <div class="dropdown-divider"></div>    
                          <input matInput #assignedAgentRef (keyup)="applyFilter(assignedAgentRef.value, 'assignedAgent')" class="default-input default-color full text12" placeholder="Filter by name">                      
                        </div>
                    </div> -->
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-select>
              <mat-option *ngFor="let agent of element['assignedAgent']" [value]="agent.name">
                {{agent.name}}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- State -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            State
            <!-- this code is used for dropdown  -->
            <!-- <div class="dropdown">
                        <button mat-button class="dropdown-small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          State
                        </button>
                        <div class="dropdown-menu sort-dropdown {{columnsSortingDDLFlag.state ? 'show':''}}">
                          <a class="dropdown-item"  href="javascript:void(0)"><i class="fa fa-arrow-down"></i> A-Z</a>
                          <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-arrow-up"></i> Z-A</a>
                          <a class="dropdown-item" (click)="stateRef.value =''; applyFilter(stateRef.value) "  href="javascript:void(0)"><i class="fa fa-circle"></i> Clear Filter</a>
                          <div class="dropdown-divider"></div>    
                          <input matInput #stateRef (keyup)="applyFilter(stateRef.value, 'state')" class="default-input default-color full text12" placeholder="Filter by name">                      
                        </div>
                    </div> -->

          </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <ng-container matColumnDef="takeAction">
          <th mat-header-cell *matHeaderCellDef> Take Action </th>
          <td mat-cell *matCellDef="let element">

            <button mat-button *ngIf="element.takeAction.edit" (click)="editData()"
              class="sidenav-toggle btn-site ac-btn">
              <!--<mat-icon>edit</mat-icon>-->
              <span class="ti edit"></span>
            </button>
            <button mat-button *ngIf="element.takeAction.phone" (click)="openDialogCallContact()"
              class="sidenav-toggle btn-site ac-btn">
              <!--<mat-icon>perm_phone_msg</mat-icon>-->
              <span class="ti call"></span>
            </button>
            <button mat-button *ngIf="element.takeAction.email" class="sidenav-toggle btn-site ac-btn">
              <!--<mat-icon>email</mat-icon>-->
              <span class="ti enevelop"></span>
            </button>
            <button mat-button *ngIf="element.takeAction.notes" class="sidenav-toggle btn-site ac-btn">
              <!--<mat-icon>notes</mat-icon>-->
              <span class="ti doc"></span>
            </button>
            <button mat-button *ngIf="element.takeAction.alarm" class="sidenav-toggle btn-site ac-btn">
              <!--<mat-icon>alarm</mat-icon>-->
              <span class="ti time"></span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20,50,100,200]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <!-- <ul class="pagination">
        <li class="disabled"><a href="#">|<i class="fa fa-angle-left"></i></a></li>
        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li>1-8 of 8</li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i>|</a></li>
        
    </ul> -->

  <div class="text-center"><a href="#" class="btn btn-site radius btn-lg displaybtn"><span>Show</span> Pending Reminders
      (1)</a></div>
</div>