<!-- Header -->
<header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-title"><a routerLink="/home" href="javascript:void(0)"><img src="assets/images/logo.png" alt="" class="img-fluid" /></a></div>
                </div>
                <div class="col-md-5">
                    <div class="header-title mt-md-5 mb-md-5">Let's Close Some Loans.</div>
                </div>
                <div class="col-md-4 ml-auto text-right">
                    <div class="btn-group">
                      <button class="btn" type="button" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nc">15</span> <span class="default-circle"><i class="ion ion-ios-notifications-outline"></i></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="dropdownMenuNotification">
                        <ul class="notification-list">
                            <li>
                                <div class="nf-icon"><img src="assets/images/run.png" alt="" /></div> <div class="date">10/16</div>
                                <p><u>Roger Melton</u> moved to the <u>Closing section</u> in your <u>Borrower Pipeline.</u></p>
                                <div class="nc-links"><span><a href="#">View</a></span><span><a href="#">Call</a></span><span><a href="#">Text</a></span><span><a href="#">Email</a></span></div>
                            </li>
                            <li>
                                <div class="nf-icon"><img src="assets/images/run.png" alt="" /></div> <div class="date">10/16</div>
                                <p><u>Roger Melton</u> moved to the <u>Closing section</u> in your <u>Borrower Pipeline.</u></p>
                                <div class="nc-links"><span><a href="#">View</a></span><span><a href="#">Call</a></span><span><a href="#">Text</a></span><span><a href="#">Email</a></span></div>
                            </li>
                            <li>
                                <div class="nf-icon"><img src="assets/images/lead.png" alt="" /></div> <div class="date">10/16</div>
                                <p><u>Frank Johnson</u> is a new lead in the <u>Uncontacted section!</u> Claim this lead and get in contact ASAP</p>
                                <div class="nc-links"><span><a href="#">Claim</a></span></div>
                            </li>
                            <li>
                                <div class="nf-icon"><img src="assets/images/run.png" alt="" /></div> <div class="date">10/16</div>
                                <p><u>Roger Melton</u> moved to the <u>Closing section</u> in your <u>Borrower Pipeline.</u></p>
                                <div class="nc-links"><span><a href="#">View</a></span><span><a href="#">Call</a></span><span><a href="#">Text</a></span><span><a href="#">Email</a></span></div>
                            </li>
                            <li>
                                <div class="nf-icon"><img src="assets/images/list-icon.png" alt="" /></div> <div class="date">10/16</div>
                                <p><u>Roger Melton</u> moved to the <u>Closing section</u> in your <u>Borrower Pipeline.</u></p>
                                <div class="nc-links"><span><a href="#">View</a></span><span><a href="#">Call</a></span><span><a href="#">Text</a></span><span><a href="#">Email</a></span></div>
                            </li>
                            <li class="error">
                                <div class="ion ion-ios-walk nf-icon error"></div> <div class="date">10/16</div>
                                <p><u>Greg Jennings</u> has not had an attempted contact yet. Please view this lead and record an attempt</p>
                                <div class="nc-links"><span><a href="#">View</a></span><span><a href="#">Call</a></span><span><a href="#">Text</a></span><span><a href="#">Email</a></span></div>
                            </li>                    
                            
                        </ul>
                        <div class="more text-center"><a href="notifications.html"><strong>See More</strong></a></div>
                      </div>
                    </div>
                    <div class="btn-group">
                      <div class="btn dropdown info-drop">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn p-0 dropdown-toggle"><span class="name-client">Alice Sample-Tester</span>
                            <span class="client-pic"><img src="assets/images/client.png" alt="" /></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item tab-page" href="settings.html#profile">Profile</a>
                            <a class="dropdown-item" href="settings.html#help">Help</a>
                            <a class="dropdown-item" href="settings.html">Settings</a>
                            <a class="dropdown-item" href="login.html">Sign Out</a>
                          </div>
                        
                        
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light-white">
                <div class="container">
          <div class="mobile-search">
          <form class="form-inline my-2 my-lg-0">
                    <span class="my-2 my-sm-0 default-color">Contact Search </span>
              <input class="form-control ml-sm-3" type="search" placeholder="Search" aria-label="Search"  id="searchInfo"/>      
            </form>
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home" href="javascript:void(0)" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <!--  routerLink="/opportunities" -->
                <a class="nav-link" routerLink="/opportunities"  href="javascript:void(0)">Opportunities<span>(11)</span></a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/borrower-pipeline"  href="javascript:void(0)" >
                  Borrower Pipeline<span>(4)</span>
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Analytics</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
        
                     <span class="my-2 my-sm-0 default-color">Contact Search </span>
              <input class="form-control ml-sm-3" type="search" placeholder="Search" aria-label="Search"  id="searchInfo"/>      
            </form>
          </div>
          </div>
        </nav>
        </header>
        <!-- Header -->

