<!--Information Tab Start Here-->
<div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="information-tab">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="column-box pt-6 pb-6">
        <div class="very-small-container">
          <h2 class="default-color text-center mb-4 position-relative">Cheat Sheet
            <span class="text-small">
              <!--<span class="expand">(click to expand) |</span>--> <a href="#" class="gray" data-toggle="modal"
                data-target="#customizeCheatSheet">(customize cheat sheet)</a></span>
            <button class="btn btn-default lg-btn static-w96 justify-content-center saveform">Save</button>
          </h2>

          <div class="row">
            <div class="col-sm-12  editable-items editable-form">
              <ul class="info mb-4 column-list">
                <li><span>First Name</span><span class="text-right"><input type="text"
                      class="default-input default-color txtbox text-right static-w149 ligher"
                      value="Stephanie" /></span></li>
                <li><span>Last Name</span><span class="text-right"><input type="text"
                      class="default-input default-color txtbox text-right static-w149 ligher" value="Brown" /></span>
                </li>
                <li><span>Looking to...</span>
                  <span class="text-right"><input type="text"
                      class="default-input default-color txtbox text-right static-w149 ligher"
                      value="Purchase a Home" /></span>
                </li>

                <li><span>Looking for a Loan In... <i class="yellow">*</i></span>
                  <span class="d-inline-flex default-color static-width-4 bordered-list">
                    <select class="custom">
                      <option>Select One</option>
                      <option>Alabama</option>
                      <option>Alabama</option>
                      <option>Arkansas</option>
                      <option>Colorado</option>
                      <option>Florida</option>
                      <option>Idaho</option>
                      <option>Indiana</option>
                      <option>Illinois</option>
                      <option>Iowa</option>
                      <option>Kansas</option>
                      <option>Kentucky</option>
                      <option>Louisiana</option>
                      <option>Michigan</option>
                      <option>Minnesota</option>
                      <option>Mississippi</option>
                      <option>Missouri</option>
                      <option>Montana</option>
                      <option>Nebraska</option>
                      <option>New Mexico</option>
                      <option>North Dakota</option>
                      <option>Ohio</option>
                      <option>Oklahoma</option>
                      <option>Oregon</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>South Carolina</option>
                      <option>South Dakota</option>
                      <option>Wisconsin</option>
                      <option>Wyoming</option>
                    </select>

                  </span>
                </li>
                <li><span>Where in the Process</span>
                  <span class="d-inline-flex default-color static-width-2 bordered-list">
                    <select class="custom">
                      <option>Select One</option>
                      <option>Getting Started</option>
                      <option>House Hunting </option>
                      <option>I Found the House I Want to Buy</option>
                    </select>

                  </span>
                </li>
                <li><span>Preferred Price Range</span><span class="text-right"><input type="text"
                      class="default-input default-color txtbox text-right static-width-4 ligher" value="$260,000"
                      data-type="currency" /></span></li>
                <li><span>Purchase / Refinance Timeframe</span>
                  <span class="d-inline-flex default-color static-width-2 bordered-list">
                    <select class="custom">
                      <option>Select One</option>
                      <option>In Less Than a Month</option>
                      <option>1 - 2 Months </option>
                      <option>3 - 5 Months</option>
                      <option>6 - 12 Months</option>
                      <option>No Goal This Year</option>
                    </select>

                  </span>
                </li>
                <li><span>Mortgage Experience Level</span>
                  <span class="d-inline-flex default-color bordered-list static-w172">
                    <select class="custom">
                      <option>Select One</option>
                      <option>First-time Homebuyer</option>
                      <option>Not My First Rodeo </option>
                      <option>Jedi Master of Mortgage</option>
                    </select>

                  </span>
                </li>
                <li><span>Lead Source</span><span class="text-right"><input type="text"
                      class="default-input default-color txtbox text-right static-w149 ligher" value="Website" /></span>
                </li>
                <li><span>Self-Assessed Credit</span>
                  <span class="d-inline-flex default-color static-width-4 bordered-list ">
                    <select class="custom">
                      <option>Select One</option>
                      <option>No Idea</option>
                      <option>Less Than 530</option>
                      <option>530 - 579</option>
                      <option>580 - 599</option>
                      <option>600 - 619</option>
                      <option>620 - 679</option>
                      <option>680 - 719</option>
                      <option>720+</option>
                    </select>

                  </span>
                </li>
                <li><span>Existing Customer?</span>
                  <span>
                    <label class="custom_radio unselected"><input type="radio" name="Exist" /> Yes
                      <i></i></label>
                    <label class="custom_radio selected"><input type="radio" name="Exist" /> No
                      <i></i></label>

                  </span>
                </li>
                <li><span>Military Veteran?</span>
                  <span>
                    <label class="custom_radio unselected"><input type="radio" name="Military" /> Yes
                      <i></i></label>
                    <label class="custom_radio selected"><input type="radio" name="Military" /> No
                      <i></i></label>

                  </span>
                </li>


              </ul>


              <div class="row justify-content-center pt-4">
                <div class="col-md-7 text-center">
                  <p class="gray bold">Latest Contact Form Message</p>
                  <p class="default-color">Hey there. I'm looking for someone to give me a quote on how much
                    quality for and at what interest rate. My friend Becky told me she dealt with you guys.
                    Let me know when you'd like to chat. My number is 214-560-0209. Thanks!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Information Tab End Here-->