<div class="" id="callContact" tabindex="-1" role="dialog" aria-labelledby="callContact" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 396px;">
      <div class="modal-content">
        <div class="modal-header nospace noborder">
          <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center"><img src="./../../../../../assets/images/call.png" alt="" /></div>
          <div class="medium gray text-center mt-2 mb-2">Call Stephanie Brown</div>
          <div class="medium default-color text-center mb-3">972-838-6825</div>
          
          <!--<div class="text-center mb-4"><a href="#" class="btn btn-site" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#reminderTextBlock">Text Contact</a><a href="tel:972-838-6825" class="btn btn-site">Call Contact</a></div>-->
          
        </div>
        
      </div>
    </div>
  </div>